<div class="m-d expand-list">
	<li data-md-content="0">
      <i class="fa fa-arrows pr-2 px-2" aria-hidden="true"></i>
		<label name="tab" for="tab1" class="tab_lab">Payin</label>
		<input type="checkbox"  class="tab" id="tab1" tabindex="0"/>
		<span class="open-close-icon">
			<i class="fa fa-plus"></i>
			<i class="fa fa-minus"></i>
		</span>
		<div class="content">
        <ul class="submenu pl-0">
                <div class="menu-item" appExpandMenu  routerLinkActive="active">
                    <a class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Master</span>
                        <span>&nbsp;&nbsp;<i class="fa fa-angle-down angledown" mat-line ></i></span>
                    </a>
                    <ul class="submenu pl-0">
                        <li>
                            <a [routerLink]="['payin/masters/api-master']" routerLinkActive="active">
                                <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                                <span>API-Master</span>
                            </a>
                        </li>
                    </ul>
                  </div>
            <!-- <li> -->
                <div class="menu-item menu-dashboard" routerLinkActive="active">
                    <a class="menu-link" [routerLink]="['payin/introduction']">
                        <span class="menu-icon">
                            <i class="fa fa-id-badge" aria-hidden="true" routerLinkActive="active"></i>
                        </span>
                        <span class="menu-title" routerLinkActive="active">Introduction</span>
                    </a>
                  </div>
            <!-- </li> -->
            <div class="menu-item menu-dashboard" routerLinkActive="active">
                <a class="menu-link" [routerLink]="['payin/pre-requisites']">
                    <span class="menu-icon">
                        <i class="fa fa-th-large" aria-hidden="true" routerLinkActive="active"></i>
                    </span>
                    <span class="menu-title" routerLinkActive="active">Pre-Requisites</span>
                </a>
              </div>
              <div class="menu-item menu-dashboard" routerLinkActive="active">
                <a class="menu-link" [routerLink]="['payin/generate-hash']">
                    <span class="menu-icon">
                        <i class="fa fa-slack" aria-hidden="true" routerLinkActive="active"></i>
                    </span>
                    <span class="menu-title" routerLinkActive="active">Generate Hash</span>
                </a>
              </div>
              <div class="menu-item menu-dashboard" routerLinkActive="active">
                <a class="menu-link" [routerLink]="['payin/parameter-validations']">
                    <span class="menu-icon">
                        <i class="fa fa-modx" aria-hidden="true" routerLinkActive="active"></i>
                    </span>
                    <span class="menu-title" routerLinkActive="active">Parameter Validations</span>
                </a>
              </div>
              <div class="menu-item" appExpandMenu routerLinkActive="active">
                <a class="menu-link">
                    <span class="menu-icon">
                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                    </span>
                    <span class="menu-title" >API Collection</span>
                    <span>&nbsp;&nbsp;<i class="fa fa-angle-down angledown" mat-line></i></span>
                </a>
                <ul class="submenu pl-0">
                    <li>
                        <a [routerLink]="['payin/api-collection/create-order']" routerLinkActive="active">
                          <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                            <span>Create An Order</span>
                        </a>
                    </li>
                    <div class="menu-item" appExpandMenu routerLinkActive="active">
                      <a class="menu-link">
                          <span class="menu-icon">
                              <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                          </span>
                          <span class="menu-title menu-transactions">Search By</span>
                          <span>&nbsp;&nbsp;<i class="fa fa-angle-down angledown" mat-line></i></span>
                      </a>
                      <ul class="submenu pl-4">
                        <li>
                          <a [routerLink]="['payin/api-collection/search-by-request-id']" routerLinkActive="active">
                            <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                              <span>Request Id</span>
                          </a>
                      </li>
                      <li>
                        <a [routerLink]="['payin/api-collection/search-by-order-id']" routerLinkActive="active">
                          <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                            <span>Order Id</span>
                        </a>
                    </li>
                    <li>
                      <a [routerLink]="['payin/api-collection/search-by-transaction-token']" routerLinkActive="active">
                        <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                          <span>Transaction Token</span>
                      </a>
                  </li>
                  <li>
                    <a [routerLink]="['payin/api-collection/search-by-transaction-id']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                        <span>Transaction Id</span>
                    </a>
                </li>
                      </ul>
                  </div>
                    <li >
                        <a [routerLink]="['payin/api-collection/active-currency']" routerLinkActive="active">
                          <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                            <span>Active Currency</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['payin/api-collection/active-payment-methods']" routerLinkActive="active">
                          <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                            <span>Active Payment Methods</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['payin/api-collection/active-mop']" routerLinkActive="active">
                          <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                            <span>Active Mode Of Payments</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['payin/api-collection/order-list']" routerLinkActive="active">
                          <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                            <span>Fetch Order List</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['payin/api-collection/transaction-list']" routerLinkActive="active">
                          <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                            <span>Fetch Transaction List</span>
                        </a>
                    </li>
                </ul>
              </div>
              <div class="menu-item menu-dashboard" routerLinkActive="active">
                <a class="menu-link" [routerLink]="['payin/status_response']">
                    <span class="menu-icon">
                        <i class="fa fa-superpowers" aria-hidden="true" routerLinkActive="active"></i>
                    </span>
                    <span class="menu-title" routerLinkActive="active">Status & Responses</span>
                </a>
              </div>
        </ul>
        </div>
    </li>
  </div>
  <div class="m-d expand-list">
    <li data-md-content="0">
        <i class="fa fa-arrows pr-2 px-2" aria-hidden="true"></i>
      <label name="tab" for="tab1" class="tab_lab">Payout</label>
      <input type="checkbox" checked  class="tab" id="tab1" tabindex="0"/>
      <span class="open-close-icon">
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </span>
      <div class="content">
        <div class="menu-item menu-dashboard" routerLinkActive="active">
            <a class="menu-link" [routerLink]="['payout/payout-methods']">
                <span class="menu-icon">
                    <i class="fa fa-id-badge" aria-hidden="true" routerLinkActive="active"></i>
                </span>
                <span class="menu-title" routerLinkActive="active">Payout Methods</span>
            </a>
          </div>
        <div class="menu-item" appExpandMenu  routerLinkActive="active">
          <a class="menu-link">
              <span class="menu-icon">
                  <i class="fa fa-database" aria-hidden="true"></i>
              </span>
              <span class="menu-title">Authentication</span>
              <span>&nbsp;&nbsp;<i class="fa fa-angle-down angledown" mat-line ></i></span>
          </a>
          <ul class="submenu pl-0">
              <li>
                  <a [routerLink]="['payout/authentication/authorize']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Authorize</span>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['payout/authentication/verify-token']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Verify Token</span>
                  </a>
              </li>
          </ul>
        </div>
        <div class="menu-item" appExpandMenu  routerLinkActive="active">
          <a class="menu-link">
              <span class="menu-icon">
                  <i class="fa fa-database" aria-hidden="true"></i>
              </span>
              <span class="menu-title">Account</span>
              <span>&nbsp;&nbsp;<i class="fa fa-angle-down angledown" mat-line ></i></span>
          </a>
          <ul class="submenu pl-0">
              <li>
                  <a [routerLink]="['payout/account/get-balance']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Get Balance</span>
                  </a>
              </li>
          </ul>
        </div>
        <div class="menu-item" appExpandMenu  routerLinkActive="active">
          <a class="menu-link">
              <span class="menu-icon">
                  <i class="fa fa-database" aria-hidden="true"></i>
              </span>
              <span class="menu-title">Beneficiary</span>
              <span>&nbsp;&nbsp;<i class="fa fa-angle-down angledown" mat-line ></i></span>
          </a>
          <ul class="submenu pl-0">
              <li>
                  <a [routerLink]="['payout/beneficiary/add-beneficiary']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Add Beneficiary</span>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['payout/beneficiary/get-beneficiary-details']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Get Beneficiary Details</span>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['payout/beneficiary/get-beneficiary-id']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Get Beneficiary Id</span>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['payout/beneficiary/remove-beneficiary']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Remove Beneficiary</span>
                  </a>
              </li>
          </ul>
        </div>
        <div class="menu-item" appExpandMenu  routerLinkActive="active">
          <a class="menu-link">
              <span class="menu-icon">
                  <i class="fa fa-database" aria-hidden="true"></i>
              </span>
              <span class="menu-title">Transfer</span>
              <span>&nbsp;&nbsp;<i class="fa fa-angle-down angledown" mat-line ></i></span>
          </a>
          <ul class="submenu pl-0">
              <li>
                  <a [routerLink]="['payout/transfer/async-transfer']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Async Transfer</span>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['payout/transfer/transfer-status']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Transfer Status</span>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['payout/transfer/upi-validation']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>UPI Validation</span>
                  </a>
              </li>
              <!-- <li>
                  <a [routerLink]="['payout/remove-beneficiary']" routerLinkActive="active">
                      <i class="fa fa-circle mr-3" aria-hidden="true" routerLinkActive="active"></i>
                      <span>Remove Beneficiary</span>
                  </a>
              </li> -->
          </ul>
        </div>
        <div class="menu-item menu-dashboard" routerLinkActive="active">
          <a class="menu-link" [routerLink]="['payout/api-error-response']">
              <span class="menu-icon">
                  <i class="fa fa-id-badge" aria-hidden="true" routerLinkActive="active"></i>
              </span>
              <span class="menu-title" routerLinkActive="active">API Error Response</span>
          </a>
        </div>
          </div>
      </li>
    </div>
  <div class="menu-item pb-5">
    <a class="menu-link-payin" (click)="logout()">
        <span class="menu-icon">
            <!--begin::Sign Out Icon-->
            <i class="fa fa-power-off pr-2" aria-hidden="true"></i>
            <!--end::Sign Out Icon-->
        </span>
        <span class="menu-title">Sign Out</span>
    </a>
  </div>