
 
 <!-- Header Start -->
 <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

 <!-- Service Start -->
 <app-services></app-services>
    <!-- Service End -->


   <!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="/assets/website/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">About Us</h1>
                <p class="mb-4">The TIME GLOBAL SCHOOL Founded in 2017 by Mr. Ashok Kumar Maurya in Bhadohi district of Uttar Pradesh. 
                    TIME GLOBAL SCHOOL provides good quality education, an environment to students to know, create, learn,
                    explore, experiment, analyse and grow with confidence, firmly rooted in our great culture and values.
                    We also put in efforts to sensitize our students to become loving, responsible and promising citizens of India.
                    As a TIME family we are committed to soar higher and higher in the field of education.
                    At TIME GLOBAL SCHOOL we treat each child as individual and give personal attention to shape a well-balanced personality.
                    
                    The school consists of Primary Wing, Secondary Wing, Computer Lab, Library, Art studio, Music and Dance Room, Activity room etc..
                    The school is focused on the holistic development of the children. The school operates in an innovative environment that provides opportunity for flexibility.
                    Creativity and value addition in education. Play – way method, Wi-Fi campus, Indoor and outdoor Game facilities etc.
                    TIME GLOBAL SCHOOL's preparatory section is totally based on Experimental studies for a strong foundation to future.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Good Infrastructure</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Real-Time Learning</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>High Safety Standars</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Comfortable  Environment</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Large Play Area</p>
                    </div>
                </div>
                <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->



    <!-- Team Start -->
    <app-expert-instructor></app-expert-instructor>
    <!-- Team End -->