
<div class="grid-card-container card-bottom-margin">
    <form [formGroup]="formGroup" class="grid-form">

        <!-- begin::Role -->
        <div class="form-group">
            <label class="form-label required">Role</label>
            <mat-select class="form-control form-control-sm myPanelClass" formControlName="role" disableOptionCentering placeholder="Select Role" >
                <mat-option value="" disabled>Select Role</mat-option>
                <mat-option value="ADMIN">Admin</mat-option>
                <mat-option value="USER">User</mat-option>
            </mat-select>
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.role,"Role")}} </div>
          </div>
        <!-- end::Role -->

        <!-- begin::Permission Group -->
        <div class="form-group" *ngIf="formControll.role.value === 'USER'">
            <label class="form-label required">Group</label>
            <mat-select class="form-control form-control-sm myPanelClass" disableOptionCentering placeholder="Select user group">
              <input type="text"
              class="form-control  form-control-sm"
              formControlName="groupid"
              #filterPermissionGroup>
              <div *ngIf="allPermissionGroupList | async as postdata  ">
                  <mat-option *ngFor="let data of postdata | filterData: filterPermissionGroup.value : 'usergroup'" [value]="data.groupid">
                  {{data.usergroup}}
                  </mat-option>
              </div>
          </mat-select>
            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(formControll.groupid,"Group")}}
            </div>
          </div>
        <!-- end::Permission Group -->

        <!-- begin::name -->
        <div class="form-group">
          <label class="form-label required">Usen Name</label>
          <input class="form-control form-control-sm" formControlName="name" placeholder="Enter Name" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.name,"User Name")}}</div>
        </div>
      <!-- end::name -->

        <!-- begin::Email -->
        <div class="form-group">
            <label class="form-label required">Email</label>
            <input class="form-control form-control-sm" formControlName="email" placeholder="Enter Email" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.email,"Email")}}</div>
          </div>
        <!-- end::Email -->


        <!-- begin::Password-->
        <div class="form-group">
            <label class="form-label required" data-toggle="tooltip" data-placement="top" title="Minimum eight characters at least one uppercase letter, one lowercase letter, one number and one special character.">Password</label>
            <input class="form-control form-control-sm" formControlName="password" placeholder="Enter Password" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.password,"Password")}}</div>
        </div>
        <!-- end::Password -->

        <!-- begin::Re-Enter Password -->
        <div class="form-group">
            <label class="form-label required">Confirm Password</label>
            <input class="form-control form-control-sm" formControlName="confirmPassword" placeholder="Re-Enter Password" autocomplete="off">
            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(formControll.confirmPassword,"confirm Password")}}
            </div>            
          </div>
        <!-- end::Re-Enter Password -->
        
        <!-- begin::Buttons -->
        <div class="grid-button-inline form-group pt-4">
            <ng-container *ngIf="actionFlag">
                <button class="btn btn-success mx-3" [disabled]="!formGroup.valid" (click)="register()">Register</button>
            </ng-container>
            <ng-container *ngIf="!actionFlag">
                <button class="btn btn-success mx-3" [disabled]="!formGroup.valid" (click)="register()">Update</button>
            </ng-container>
            
            <button  class="btn btn-danger" (click)="resetForm()">Reset</button>
        </div>
        <!-- end::Buttons -->
    </form>
</div>


<!--begin::second Card body-->
<ng-container *ngIf="posts | async as userData">
<div class="grid-card-container card-bottom-padding pt-2" *ngIf="userData">    
  <!--end::table-->
  <table id='table' datatable [dtOptions]="dtOptions">    
   <thead>
     <tr>
       <th>S.No</th> 
       <th>User Name</th>
       <th>Role</th>
       <th>Email</th>
       <th>Password</th>
       <th>Status</th>
       <th>Action</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let post of userData;let i=index">
       <td class="td-sno">{{i+1}}</td>  
       <td class="td-large">{{post.name}}</td>
       <td class="td-auto">{{ post.role }}</td>
       <td class="td-large">{{ post.email }}</td>
       <td class="td-auto">{{ post.password }}</td>
       <td class="td-status">
             <mat-slide-toggle [checked]="post.active"  (change)="slideToggleChange($event, post)">
             </mat-slide-toggle>
       </td>
       <td class="td-action">  
         <a (click)="setValueToUpdate(post)"><i class="fa fa-pencil-square-o fa-lg"></i></a>
       </td>
     </tr>
   </tbody>
 </table>
 <!--end::table-->
 </div>
 </ng-container>
 <!--end::second Card body-->