<div class="container-fluid mt-3">

  <div class="card shadow-lg border-0 notification-card">

    <!-- Header -->
    <div class="card-header bg-primary text-white py-3">
      <h5 class="mb-0">
        <i class="fa fa-bell me-2"></i>
        Send Notification
      </h5>
    </div>

    <div class="card-body">

      <form [formGroup]="formgroup">

        <div class="row">

          <!-- Academic Year -->
          <div class="col-xl-3 col-lg-4 col-md-6 form-field pb-3">

            <label class="form-label required">
              Academic Year
            </label>

            <mat-select
              formControlName="academicYearCode"
              (selectionChange)="academicYearChange()"
              class="form-control form-control-sm">

              <input
                type="text"
                class="form-control form-control-sm"
                #filterAcademicYear>

              <mat-option
                *ngFor="let data of academicyearList | filterData: filterAcademicYear.value : 'academicYear'"
                [value]="data.academicYearCode">

                {{data.academicYear}}

              </mat-option>

            </mat-select>

            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(notificationControll.academicYearCode,'Academic Year')}}
            </div>

          </div>

          <!-- Standard -->
          <div class="col-xl-3 col-lg-4 col-md-6 form-field pb-3">

            <label class="form-label required">
              Standard
            </label>

            <mat-select
              formControlName="standard"
              (selectionChange)="loadStudentList()"
              class="form-control form-control-sm">

              <input
                type="text"
                class="form-control form-control-sm"
                #filterClassName>

              <mat-option
                *ngFor="let data of classList | filterData: filterClassName.value : 'className'"
                [value]="data.classCode">

                {{data.className}}

              </mat-option>

            </mat-select>

            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(notificationControll.standard,'Standard')}}
            </div>

          </div>

          <!-- Student -->
          <div class="col-xl-3 col-lg-4 col-md-6 form-field pb-3">

            <label class="form-label required">
              Select Students
            </label>

            <mat-select
              multiple
              formControlName="registrationNo"
              class="form-control form-control-sm">

              <input
                type="text"
                class="form-control form-control-sm"
                #filterStudent>

              <div *ngIf="studentList | async as postdata">

                <mat-option
                  *ngFor="let data of postdata.data | filterData: filterStudent.value : 'studentName'"
                  [value]="data.registrationNo">

                  {{data.studentName}}

                </mat-option>

              </div>

            </mat-select>

            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(notificationControll.registrationNo,'Student Name')}}
            </div>

          </div>

          <!-- Notification Type -->
          <div class="col-xl-3 col-lg-4 col-md-6 form-field pb-3">

            <label class="form-label required">
              Notification Type
            </label>

            <mat-select
              formControlName="notificationType"
              class="form-control form-control-sm">

              <mat-option
                *ngFor="let data of notificationTypes"
                [value]="data.type">

                {{data.type}}

              </mat-option>

            </mat-select>

            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(notificationControll.notificationType,'Notification Type')}}
            </div>

          </div>

          <!-- Notification Title -->
          <div class="col-12 form-field">

            <label class="form-label required">
              Notification Title
            </label>

            <input
              class="form-control"
              formControlName="notificationTitle"
              autocomplete="off">

            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(notificationControll.notificationTitle,'Notification Title')}}
            </div>

          </div>

          <!-- Notification Message -->
          <div class="col-12 form-field">

            <label class="form-label required">
              Notification Message
            </label>

            <textarea
              rows="6"
              class="form-control"
              formControlName="notificationMessage"
              placeholder="Type your notification message here...">
            </textarea>

            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(notificationControll.notificationMessage,'Notification Message')}}
            </div>

          </div>

          <!-- Buttons -->
          <div class="col-12 pb-3">

            <div class="d-flex justify-content-end button-group">

              <button
                type="button"
                class="btn btn-success"
                [disabled]="!formgroup.valid"
                (click)="sendNotification()">

                <i class="fa fa-paper-plane me-2"></i>
                Send Notification

              </button>

              <button
                type="button"
                class="btn btn-danger"
                (click)="resetForm()">

                <i class="fa fa-refresh me-2"></i>
                Reset

              </button>

            </div>

          </div>

        </div>

      </form>

    </div>

  </div>

</div>
