<div class="container">
  <div class="birthday-section">
    <div class="birthday-header">
      <span><strong>Today's Birthdays 🎉</strong></span>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#birthdayModal">
        View All
      </button>
    </div>
    <div *ngFor="let student of posts">
      <div class="card birthday-card m-2">
        <div class="card-body d-flex flex-row">
          <div class="avatar">
            <img src="{{student.profileImage.link}}" alt="{{student.studentName}}" class="avatar-img">
          </div>
          <div class="ml-2">
            <span class="card-title">{{student.studentName}}</span>
            <p class="card-text">Class: {{student.standard}}</p>
          </div>
          <div class="ml-auto">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#wishModal">
              Wish Birthday 🎂
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
