<mat-toolbar>
  <div style="display: flex;">
  <div>
    <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button> 
    <img class="p-1 logo" src="/assets/website/img/logo.png"  alt=""> 
    <span>{{schoolName}}</span>
  </div>

  <span class="example-spacer"></span>

    <span>
       <!-- Collapsible Content -->
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <div class="searchbar-container">
      <!-- Search Bar -->
      <form [formGroup]="formgroup" class="form-inline my-2 my-lg-0 ml-auto mr-3">
        <div #searchBarElement class="searchbox">
          <button class="btn-menu">
            <i class="fa fa-group"></i>
          </button>
          <input #searchStudent class="form-control mr-sm-2" id="search" type="text" placeholder="Search..."
            name="search" class="search" (focus)="onFocusIn()" formControlName="searchTerm" autocomplete="off"
            aria-label="Search">
          <button class="btn-search">
            <i class="fa fa-search"></i>
          </button>
        </div>

        <div #modalElement id="Modal" class="search-modal shadow-lg"
        [ngStyle]="{'display': showModal ? 'block' : 'none'}">
        <!-- Loader -->
        <div class="loader-container" *ngIf="isLoading">
          <div class="loader"></div>
        </div>
        <div class="search-modal-body">
          <ng-container *ngIf="searchStudent.value.length>0">
            <ng-container *ngIf="studentList | async as filteredStudents">
            <div *ngFor="let student of filteredStudents.data | filterStudentList: searchStudent.value">
              <ng-container *ngIf="student.isActive===true">
                <div class="message">
                <div class="message-avatar">
                  <ng-container *ngIf="student.profileImage!=null">
                      <img src={{student.profileImage.link}} alt="">
                  </ng-container>
                  <ng-container *ngIf="student.profileImage==null">
                    <img src="/assets/images/no_image.png" alt="">
                  </ng-container>
                </div>
                <div class="message-body">
                  <p><b>Name:</b> {{ student.studentName }}</p>
                  <p><b>Father Name:</b> {{student.fatherName}}</p>
                  <p><b>Standard:</b> {{ student.standard }} &nbsp;&nbsp; | &nbsp;&nbsp;  <b>Year:</b> {{student.academicYearCode}}</p>
                  <div class="link">
                    <span (click)="viewStudentDetails(student);searchStudent.value=''">View Details</span>&nbsp;&nbsp;
                    <span>|</span>&nbsp;&nbsp;
                    <span (click)="payFees(student);searchStudent.value='' ">Pay Fees</span>
                  </div>
                </div>
              </div>
            </ng-container>
              </div>
            </ng-container>
          </ng-container>
         </div>
      </div>
      </form>
    </div>
    <!-- </div> -->
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>

      &nbsp;&nbsp;&nbsp;&nbsp;
        <span>Hi, {{loginUserName}}</span>
  </div>
</div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div>
      <app-sidenav ></app-sidenav>      
    </div>    
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <app-nav-menu [collapsed]="isSideNavCollapsed" [screenWidth]=800></app-nav-menu> -->
    <div >
      <app-nav-menu></app-nav-menu> 
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>