<section class="h-90 gradient-form" style="background-color: #eee;">
  <div class="container py-1 h-90">
    <div class="row d-flex justify-content-center align-items-center h-90">
      <!-- <div class="col-xl-10"> -->
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="p-4"><a  routerLink="/home"><i class="fa fa-arrow-left ms-3"></i>&nbsp;Back</a></div>
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img class=" p-1 logo" src="/assets/website/img/logo.png"  alt="">
                </div>
                <br><br>

                <form [formGroup]="loginForm" class="example-form bg" (ngSubmit)="login()" autocomplete="off">
                  <!-- begin user type -->
                  <div class="form-outline mb-4">
                  <label>User Type</label>
                    <select class="form-control user-type custom-select" formControlName="roles">
                      <option [ngValue]="null" disabled selected>Select User</option>
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                    </select>
                  <div class="invalid-feedback">{{this.errorMsgService.getErrorMessage(loginFormControl.roles ,"User Type")}} </div>
                  </div>
                  <!-- end::usertype -->


                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Username / Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="form-control" id="email"><i class="fa fa-user"></i></span>
                      </div>
                      <input formControlName="email" autocomplete="off" id="email" class="form-control"  placeholder="Enter User Name" aria-describedby="email"/>                    
                    </div>
                    <div class="invalid-feedback">{{this.errorMsgService.getErrorMessage(loginFormControl.email ,"User Name / Email")}}</div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="form-control" id="email"><i class="fa fa-lock"></i></span>
                      </div>
                    <input 
                    [type] = "showPassword ? 'text' : 'password'" 
                    [ngClass]="{'form-password-hide' : !showPassword}" 
                    [(ngModel)]="password" 
                    formControlName="password" 
                    placeholder="Enter Password" 
                    autocomplete="off" 
                    id="form2Example22" 
                    class="form-control" />
                    <div class="input-group-append">
                      <span class="form-control" (click)="toggleShowPassword()">
                        <i class="fa fa-eye"*ngIf="showPassword" ></i>
                        <i class="fa fa-eye-slash"*ngIf="!showPassword"></i>
                      </span>
                    </div>
                  </div>
                  <div class="invalid-feedback">{{this.errorMsgService.getErrorMessage(loginFormControl.password,"Password")}}</div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button [disabled]="!loginForm.valid" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Login</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>
                </form>

              </div>
            </div>
            <!-- <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white ">
                <h4 class="mb-4"><u>Importance of Education! </u></h4>
                <table>
                  <tr><td>1 -</td><td><p class="small mb-1">“Education is the movement from darkness to light.”</p></td></tr>
                  <tr><td>2 -</td><td><p class="small mb-1">“An investment in knowledge pays the best interest.”</p></td></tr>
                  <tr><td>3 -</td><td><p class="small mb-1">“The beautiful thing about learning is that no one can take it away from you.”</p></td></tr>
                  <tr><td>4 -</td><td><p class="small mb-1">“The roots of education are bitter, but the fruit is sweet.”</p></td></tr>
                  <tr><td>5 -</td><td><p class="small mb-1">“Education’s purpose is to replace an empty mind with an open one.”</p></td></tr>
                  <tr><td>6 -</td><td><p class="small mb-1">“Learning is never done without errors and defeat.”</p></td></tr>
                  <tr><td>7 -</td><td><p class="small mb-1">“Teachers open the door, but you must enter by yourself.”</p></td></tr>
                  <tr><td>8 -</td><td><p class="small mb-1">“Anyone who stops learning is old, whether at twenty or eighty.”</p></td></tr>
                  <tr><td>9 -</td><td><p class="small mb-1">“Education is not preparation for life; education is life itself.”</p></td></tr>
                  <tr><td>10-</td><td><p class="small mb-1">“Never be afraid to try something new. Remember amateurs built the ark, but professionals built the Titanic.”</p></td></tr>
                </table>
               </div>
            </div> -->
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>


