<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-1 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img class=" p-1 logo" src="/assets/website/img/logo.png"  alt="">
                </div>
                <br><br>

                <form [formGroup]="loginForm" class="example-form bg" (ngSubmit)="login()" autocomplete="off">
                  <!-- begin user type -->
                  <div class="form-outline mb-4">
                  <label>User Type</label>
                    <select class="form-control user-type custom-select" formControlName="roles">
                      <option [ngValue]="null" disabled selected>Select User</option>
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                    </select>
                  <div class="invalid-feedback">{{this.errorMsgService.getErrorMessage(loginFormControl.roles ,"User Type")}} </div>
                  </div>
                  <!-- end::usertype -->


                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Username / Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="form-control input-group-text" id="email"><i class="fa fa-user"></i></span>
                      </div>
                      <input formControlName="email" autocomplete="off" id="email" class="form-control"  placeholder="Enter User Name" aria-describedby="email"/>                    
                    </div>
                    <div class="invalid-feedback">{{this.errorMsgService.getErrorMessage(loginFormControl.email ,"User Name / Email")}}</div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="form-control input-group-text" id="email"><i class="fa fa-lock"></i></span>
                      </div>
                    <input 
                    [type] = "showPassword ? 'text' : 'password'" 
                    [ngClass]="{'form-password-hide' : !showPassword}" 
                    [(ngModel)]="password" 
                    formControlName="password" 
                    placeholder="Enter Password" 
                    autocomplete="off" 
                    id="form2Example22" 
                    class="form-control" />
                    <div class="input-group-append">
                      <span class="input-group-text form-control" (click)="toggleShowPassword()">
                        <i class="fa fa-eye"*ngIf="showPassword" ></i>
                        <i class="fa fa-eye-slash"*ngIf="!showPassword"></i>
                      </span>
                    </div>
                  </div>
                  <div class="invalid-feedback">{{this.errorMsgService.getErrorMessage(loginFormControl.password,"Password")}}</div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button [disabled]="!loginForm.valid" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Login</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>