<button class="btn btn-sm btn-warning" #printButton printSectionId="print-section"   [useExistingCss]="true" ngxPrint >Print</button>

    <div  id="print-section" class="d-none"> 
        <ng-container *ngIf="feesModel1">
        <!-- <ng-container *ngIf="feesDetails | async as value"> -->
            <!-- <div *ngFor="let feesModel1 of value.data; let i = index" id="student-card-{{i}}">  -->
            <ng-container *ngFor="let number of [0,1]">
        <div class="container border">
                <div class="row">
                    <div class="col-md-12 float-right">
                        <div class="contact_details">Phone: 8957666699  Mail: timebdh@gmail.com  Web: tgsbhadohi.com</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-2">
                        <div class="text-center">                
                            <div><img class="p-1 logo" src="/assets/website/img/print-logo.jpg"  width="150" height="120"></div>
                            <div>Indra Gandi Marg, Chaksaif, Bhadohi - 221401</div>
                            <div><b>FEES RECEIPT</b></div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                            <ng-container *ngIf="number===0"><h5><u><b><div style="padding-bottom: 10;">STUDENT COPY</div></b></u></h5> </ng-container> 
                            <ng-container *ngIf="number===1"><h5><u><b><div style="padding-bottom: 10;">SCHOOL COPY</div></b></u></h5> </ng-container> 
                    </div>
                    <hr>
                </div>
                <div class="pt-1">
                    <table class="content_table_width">
                        <tr>
                            <td class="table_td_width1">
                                <div>
                                    <table style="width:100%">
                                        <tr>
                                            <td class="td-width">Name</td>
                                            <td><b>: {{feesModel1.studentName}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Date</td>
                                            <td><b>: {{feesModel1.paymentDate}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Receipt No</td>
                                            <td><b>: {{feesModel1.receiptNo}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">ID Card Number</td>
                                            <td><b>: {{feesModel1.idCardNumber}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Class</td>
                                            <td><b>: {{feesModel1.className}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Roll Number </td>
                                            <td><b>: {{feesModel1.rollnumber}}</b></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td class="table_td_width2">
                                <div>
                                    <table style="width:100%">
                                        <tr>
                                            <td class="td-width">Received with thanks From</td>
                                            <td><b>: {{feesModel1.paymentReceivedBy}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">an amount of rupees (fig) </td>
                                            <td><b>: {{feesModel1.amount}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">(words) </td>
                                            <td><b>: {{feesModel1.amountInWords}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">towards </td>
                                            <td><b>: {{feesModel1.paymenttype}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">for Academic year</td>
                                            <td><b>: {{feesModel1.academicYear}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Paymant through </td>
                                            <td><b>: {{feesModel1.paymentMode}}</b></td>
                                        </tr>
                                    
                                        <tr>
                                            <td class="td-width">Balance Fees </td>
                                            <td><b>: {{feesModel1.balanceFees}}/-</b></td>
                                        </tr>
                                        <tr *ngIf="feesModel1.balanceBookFees>0">
                                            <td class="td-width">Balance SSM Fees </td>
                                            <td><b>: {{feesModel1.balanceBookFees}}/-</b></td>
                                        </tr>
                                        <tr *ngIf="feesModel1.remarks.length>0">
                                            <td class="td-width">Remarks </td>
                                            <td><b>: {{feesModel1.remarks}}</b></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                   
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-md-12 floatright" align="right">
                        <div>
                            <div><img class=" p-1 logo" src="/assets/images/signature.png"  width="120" height="50"></div>
                            <div>Authorised Singnatory</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ng-container *ngIf="number===1">
                            Fees receipt generated by: {{feesModel1.updatedBy}}
                        </ng-container>
                    </div>

                </div>
                <div class="row border">
                    <div class="col-md-12">
                        <div>Note: Fees once paid will not be refunded under any circumstances. Cheques are subject to realistion. Kids shall not attend the course in case the cheque is dishonured
                            due to any reason.</div>
                    </div>
                </div>
        </div>
        <br><br>
        
            </ng-container>
            <!-- </div> -->
        <!-- </ng-container> -->
        </ng-container>
    </div>