<button class="btn btn-sm btn-warning" #printButton printSectionId="print-section" printTitle="Print Receipt"  [useExistingCss]="true" ngxPrint >Print</button>

    <div  id="print-section" class="d-none">
        <ng-container *ngIf="feesModel">
        <!-- <ng-container *ngIf="feesDetails | async as value"> -->
            <!-- <div *ngFor="let feesModel of value.data; let i = index" id="student-card-{{i}}">  -->
            <ng-container *ngFor="let number of [0,1]">
        <div class="container border">
                <div class="row">
                    <div class="col-md-12 float-right">
                        <div class="contact_details">Phone: 8957666699  Mail: timebdh@gmail.com  Web: tgsbhadohi.com</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-2">
                        <div class="text-center">
                            <div><img class="p-1 logo" src="/assets/website/img/print-logo.jpg"  width="200" height="150"></div>
                            <div>Indra Gandhi Marg, Chaksaif, Bhadohi - 221401</div>
                            <div><b>FEES RECEIPT</b></div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                            <ng-container *ngIf="number===0"><h5><u><b><div style="padding-bottom: 10;">STUDENT COPY</div></b></u></h5> </ng-container>
                            <ng-container *ngIf="number===1"><h5><u><b><div style="padding-bottom: 10;">SCHOOL COPY</div></b></u></h5> </ng-container>
                    </div>
                    <hr>
                </div>
                <div class="pt-1">
                    <table class="content_table_width">
                        <tr>
                            <td class="table_td_width1">
                                <div>
                                    <table style="width:100%;">
                                        <tr>
                                            <td class="td-width">Name</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.studentName}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Date</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.paymentDate}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Receipt No</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.receiptNo}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">ID Card Number</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.idCardNumber}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Academic year</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.academicYear}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Class</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.className}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Roll Number </td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.rollnumber}}</b></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td class="table_td_width2">
                                <div>
                                    <table style="width:100%;">
                                        <tr>
                                            <td class="td-width">Received with thanks From</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.paymentReceivedBy}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">An amount of rupees (fig) </td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.amount}}/-</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">(words) </td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.amountInWords}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Towards </td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted">
                                                <b>
                                                <ng-container *ngIf="feesModel.paymenttype==='Book Fees'">SSM Fees</ng-container>
                                                <ng-container *ngIf="feesModel.paymenttype==='Fees'">Fees</ng-container>
                                                </b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="td-width">Payment Mode</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.paymentMode}}</b></td>
                                        </tr>
                                        <tr *ngIf="feesModel.month!=null && feesModel.month!='' && feesModel.month!=undefined">
                                            <td class="td-width">Pay For Month</td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.month}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="td-width">Balance Fees </td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.balanceFees}}/-</b></td>
                                        </tr>
                                        <tr *ngIf="feesModel.balanceBookFees>0">
                                            <td class="td-width">Balance SSM Fees </td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.balanceBookFees}}/-</b></td>
                                        </tr>

                                        <tr *ngIf="feesModel.remarks!=null">
                                            <td class="td-width">Remarks </td>
                                            <td> :&nbsp; </td>
                                            <td class="dotted"><b>{{feesModel.remarks}}</b></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>


                </div>
                <div class="row mt-4 mb-1 mt-3 pt-3" >
                    <div class="col-md-12 floatright" align="right">
                        <div>
                            <div><img class=" p-1 logo" src="/assets/images/signature.png"  width="120" height="50"></div>
                            <div>Authorized Signatory</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ng-container *ngIf="number===1">
                            Fees receipt generated by: {{feesModel.updatedBy}}
                        </ng-container>
                    </div>

                </div>
                <div class="row border">
                    <div class="col-md-12">
                        <div>Note: Fees once paid will not be refunded under any circumstances. Cheques are subject to realisation. Kids shall not attend the course in case the cheque is dishonoured
                            due to any reason.</div>
                    </div>
                </div>
        </div>
        <br>
        <ng-container *ngIf="number==0">
        <div id="scissors">
            <img src="https://i.stack.imgur.com/cXciH.png" alt="Scissors">
            <div></div>
        </div>
    </ng-container>
        <br>

            </ng-container>
            <!-- </div> -->
        <!-- </ng-container> -->
        </ng-container>
    </div>
