.contact_details{
    font-size: 10;
    padding-right: 10;
    float: right;
}

.table_td_width1{
    width: 40%;
    vertical-align: top;
}

.table_td_width2{
    width: 60%;
    vertical-align: top;
}

.shift_right{
    float: right;
}
.content_table_width{
    width: 100%;
}
.floatright{
    float: right;
    text-align: right;
    padding-right: 50px;
}

.td-width{
    width: 35%;
}