.contact_details{
    font-size: 10;
    padding-right: 10;
    float: right;
}

.table_td_width1{
    width: 40%;
    vertical-align: top;
}

.table_td_width2{
    width: 60%;
    vertical-align: top;
}

.shift_right{
    float: right;
}
.content_table_width{
    width: 100%;
}
.floatright{
    float: right;
    text-align: right;
    padding-right: 50px;
}

.td-width{
    width: 38%;
    /* padding: 4px; */
    padding-top: 5px;

}


#scissors {
    height: 3rem;
    width: 100%;
    margin: auto auto;
    position: relative;
}

#scissors img {
    height: 1rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#scissors div {
    position: relative;
    top: 50%;
    border-top: 1px dashed black;
    margin-top: -1px;
}