
<div class="grid-card-container card-bottom-margin">
    <form [formGroup]="formgroup" class="grid-form">
        <!-- begin::Class Name -->
        <div class="form-group">
            <label class="form-label required">Class / Standard</label>
            <mat-select class="form-control form-control-sm myPanelClass" formControlName="classCode" disableOptionCentering placeholder="Select Enrollment Type">
                <input type="text"
                class="form-control  form-control-sm"
                #filterClassName>
                <div *ngIf="allClassList | async as postdata ">
                    <mat-option *ngFor="let data of postdata | filterData: filterClassName.value : 'className'" [value]="data.classCode">
                    {{data.className}}
                    </mat-option>
                </div>
            </mat-select>
            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(formControll.classCode,"Class")}}
            </div>
          </div>
        <!-- end::Class Name -->
    
        <!-- begin::Enrollment Type -->
        <div class="form-group">
            <label class="form-label required">Select Enrollment Type</label>
            <mat-select formControlName="enrollmentType" disableOptionCentering  placeholder="Select Enrollment Type" class="form-control form-control-sm myPanelClass">
                    <mat-option value="new">New Student</mat-option>
                    <mat-option value="enrolled">Already Enrolled</mat-option>
            </mat-select>
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.enrollmentType,"Enrollment Type")}}</div>
          </div>
        <!-- end::Enrollment Type -->

        <!-- begin::Academic Year -->
        <div class="form-group">
            <label class="form-label required">Academic Year</label>
            <mat-select class="form-control form-control-sm myPanelClass" formControlName="academicYearCode" disableOptionCentering placeholder="Select Academic Year" >
                <input type="text"
                class="form-control  form-control-sm"
                #filterAcademicYear>
                <div *ngIf="academicYearList | async as postdata ">
                    <mat-option *ngFor="let data of postdata | filterData: filterAcademicYear.value : 'academicYear'" [value]="data.academicYearCode">
                    {{data.academicYear}}
                    </mat-option>
                </div>
            </mat-select>
            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(formControll.academicYearCode,"Academic Year")}}
            </div>
          </div>
        <!-- end::Academic Year -->


        <!-- begin::Payment Type -->
        <div class="form-group">
            <label class="form-label required">Payment Type</label>
            <mat-select formControlName="paymentType" disableOptionCentering  placeholder="Select Payment Type" class="form-control form-control-sm myPanelClass">
                    <mat-option value="Instalment">Instalment</mat-option>
                    <mat-option value="Lumpsum">Lumpsum</mat-option>
            </mat-select>
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.paymentType,"Payment Type")}}</div>
        </div>
        <!-- end:: Payment Type -->

        <!-- begin::Validiti Start Date -->
        <div class="form-group">
            <label class="form-label required">Validity Start Date</label>
            <input class="form-control form-control-sm" formControlName="validityStartDate" placeholder="Enter Validity Start Date" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.validityStartDate,"Validity Start Date")}}</div>
        </div>
        <!-- <mat-form-field class="example-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
        <!-- end:: Validity Start Date -->

        <!-- begin::Validity End Date -->
        <div class="form-group">
            <label class="form-label required">Validity End Date</label>
            <input class="form-control form-control-sm" formControlName="validityEndDate" placeholder="Enter Validity End Date" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.validityEndDate,"Validity End Date")}}</div>
        </div>
        <!-- end:: Validity End Date-->

        <!-- begin::Remarks-->
        <div class="form-group">
            <label class="form-label">Remarks</label>
            <input class="form-control form-control-sm" formControlName="remarks" placeholder="Enter Remarks" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.remarks,"Remarks")}}</div>
        </div>
        <!-- end:: Remarks -->

        <!-- begin::Total Fees-->
        <div class="form-group">
            <label class="form-label required">Total Fees</label>
            <input class="form-control form-control-sm" formControlName="totalFees" placeholder="Enter Total Fees" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.totalFees,"Total Fees")}}</div>
        </div>
        <!-- end:: Remarks -->

         <!-- begin::Discount-->
        <div class="form-group">
            <label class="form-label">Select Discount Reason</label>
            <mat-select class="form-control form-control-sm myPanelClass" formControlName="discountReasonCode" placeholder="Select Discount Reason"  disableOptionCentering >
                <input type="text"
                class="form-control  form-control-sm"
                #filterDiscountReason>
                <div *ngIf="discountReasonList | async as postdata ">
                    <mat-option *ngFor="let data of postdata | filterData: filterDiscountReason.value : 'discountReason'" [value]="data.discountReasonCode">
                    {{data.discountReason}}
                    </mat-option>
                </div>
            </mat-select>
            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(formControll.discountReasonCode,"Discount Reason")}}
            </div>
          </div>
        <!-- end:: Discount -->
        
        <!-- begin::Net Amount-->
        <div class="form-group">
            <label class="form-label required">Net Amount (After Discount)</label>
            <input class="form-control form-control-sm" formControlName="netAmountAfterDiscount" placeholder="Enter Net Amount" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.netAmountAfterDiscount,"")}}</div>
        </div>
        <!-- end:: Net Amount -->

        <!-- begin::Registration Fees-->
        <div class="form-group">
            <label class="form-label required">Registration Fees</label>
            <input class="form-control form-control-sm" formControlName="registrationFees" placeholder="Enter Registration Fees" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.registrationFees,"Resgistration Fees")}}</div>
        </div>
        <!-- end::Registration Fees -->

        <!-- begin::Annual Fees-->
        <div class="form-group">
            <label class="form-label required">Annual Fees</label>
            <input class="form-control form-control-sm" formControlName="annualFees" placeholder="Enter Annual Fees" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.annualFees,"Annual Fees")}}</div>
        </div>
        <!-- end::Annual Fees -->

        <!-- begin::Annual Fees Date-->
        <div class="form-group">
            <label class="form-label required">Annual Fees Date</label>
            <input class="form-control form-control-sm" formControlName="annualFeesDate" placeholder="Enter Annual Fees Date" autocomplete="off">
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(formControll.annualFeesDate,"Annual Fees Date")}}</div>
        </div>
        <!-- end::Annual Fees Date-->





        <!-- begin::Buttons -->
        <div class="grid-button form-group pt-4">
            <ng-container *ngIf="actionFlag">
                <button class="btn btn-success mx-3" [disabled]="!formgroup.valid" (click)="save()">Save</button>
                <!-- <button class="btn btn-success mx-3" (click)="save()">Save</button> -->
            </ng-container>
            <ng-container *ngIf="!actionFlag">
                <button class="btn btn-success mx-3" [disabled]="!formgroup.valid" (click)="update()">Update</button>
            </ng-container>
            
            <button  class="btn btn-danger" (click)="resetForm()">Reset</button>
        </div>
        <!-- end::Buttons -->
    </form>
</div>


