
<div class="grid-card-container card-bottom-margin">
    <form [formGroup]="formGroup" class="grid-form">

        <!-- begin::Create Group -->
        <div class="form-group">
            <label class="form-label required">New Group</label>
            <input class="form-control form-control-sm" formControlName="usergroup" placeholder="Enter New Group" autocomplete="off">
            <div class="invalid-feedback">
              {{validationMsg.getErrorMessage(formControll.usergroup,"New Group")}}
            </div>            
          </div>
        <!-- end::Create Group -->
          <div></div>
        <!-- begin::Buttons -->
        <div class="grid-button-inline form-group pt-4">
            <ng-container>
                <button class="btn btn-success mx-3" [disabled]="!formGroup.valid" (click)="save()">Save</button>
            </ng-container>
            
            <button  class="btn btn-danger" (click)="resetForm()">Reset</button>
        </div>
        <!-- end::Buttons -->
    </form>
</div>

 <!--begin::second Card body-->
 <ng-container *ngIf="posts | async as permissionGroupData">
 <div class="grid-card-container card-bottom-padding pt-2">    
    <table id='table' datatable [dtOptions]="dtOptions" class="custom-data-table">    
     <thead>
       <tr>
         <th>S.No</th> 
         <th>Permission Group</th>
         <th>Status</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let post of permissionGroupData;let i=index">
         <td class="td-sno">{{i+1}}</td>  
         <td class="td-small">{{ post.usergroup }}</td>
         <td class="td-status">
               <mat-slide-toggle [checked]="post.active"  (change)="slideToggleChange($event, post)">
               </mat-slide-toggle>
         </td>
         <td class="td-action">  
           <a (click)="setValueToUpdate(post)"><i class="fa fa-pencil-square-o fa-lg"></i></a>
         </td>
       </tr>
     </tbody>
   </table>
   <!--end::table-->
      
   </div>
  </ng-container>
   <!--end::second Card body-->