.student-details-dialog {
    padding: 0;
    width: 40rem;
}

/* Custom Container */
.custom-container {
    width: 100%;
}

/* Custom Header */
.custom-header {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

/* Custom Content */
.custom-content {
    padding: 1rem;
    max-height: 400px;
    overflow-y: auto;
}

/* Row Border */
.custom-row {
    border-bottom: 1px solid #ccc;
    align-items: center;
}

/* Avatar Cell */
.avatar-cell {
    padding: 0.3rem;
}

/* Details Cell */
.details-cell {
    padding: 0.3rem;
}

/* Action Cell */
.action-cell {
    padding: 0.3rem;
}