<h2 mat-dialog-title>Student Details for class {{data.class}}</h2>
<mat-dialog-content class="student-details-dialog">
  <div class="container-fluid custom-container">
    <div class="row custom-header">
      <div class="col-md-2">Image</div>
      <div class="col-md-7">Details</div>
      <div class="col-md-3">Action</div>
    </div>
    <div class="custom-content">
      <div class="row custom-row" *ngFor="let student of data.students">
        <div class="col-md-2 avatar-cell">
          <img [src]="student.profileImage.link" alt="Student's avatar" class="avatar">
        </div>
        <div class="col-md-7 details-cell">
          <strong>{{ student.studentName }}</strong><br>
          <small>{{ student.standard }}</small>
        </div>
        <div class="col-md-3 action-cell">
          <button class="btn btn-sm btn-info btn-sm" (click)="viewDetails(student)">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
