<!-- Student Details Modal -->
<!-- <div class="modal-backdrop" (click)="closeModal()" *ngIf="showModal"> -->
<div class="modal fade" id="studentDetailsModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Student Details for {{selectedYear}}</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let student of studentDetails">
              {{student.name}} - {{student.className}} - {{student.registrationNo}}
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
    </div>
<!--</div>-->
