
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <app-admission-analytics></app-admission-analytics>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <app-student-birthday></app-student-birthday>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <app-admission-analytics></app-admission-analytics>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <app-student-birthday></app-student-birthday>
            </div>
        </div>
    </div>
</div>
