  <app-dashboard-tabs></app-dashboard-tabs>
  <div class="row p-1">
    <div class="col-md-5 p-1">
      <!-- <div class="masonry-item"> -->
        <div class="card">
          <app-admission-analytics></app-admission-analytics>
        </div>
      <!-- </div> -->
    </div>
    <div class="col-md-4 p-1">
      <!-- <div class="masonry-item"> -->
        <div class="card">
          <app-pendingfees-of-all-class></app-pendingfees-of-all-class>
        </div>
      <!-- </div> -->
    </div>
    <div class="col-md-3 p-1">
      <div class="card">
       <app-today-collections></app-today-collections>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 p-1">
      <div class="card">
        <app-student-birthday></app-student-birthday>
      </div>
    </div>

    <div class="col-md-4 p-1">
      <div>
        <!-- <app-today-collections></app-today-collections> -->
      </div>
    </div>

    <div class="col-md-3 p-1">
      <div>
        <!-- <app-student-birthday></app-student-birthday> -->
      </div>
    </div>
  </div>
  