<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Administration</h6>
            <h1 class="mb-5">Our Administration</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/assets/website/img/instructors/team-1.JPG" alt="">
                    </div>
                    <!-- <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div> -->
                    <div class="text-center p-4">
                        <h3 class="mb-0">Mr. ASHOK MAURYA</h3>
                        <h3 class="mb-0">CHAIRMAN</h3>
                        <button mat-raised-button (click)="openDialog(1)">Read</button>
                        <!-- <small>Mr. Ashok Maurya, the visionary founder and chairman of TIME GLOBAL SCHOOL ....</small>
                        <button type="button" (click)="alterDescriptionText()">
                            {{ showShortDesciption ? 'SHOW ALL': 'SHOW LESS' }}
                          </button>
                        <div [ngClass]="{'show-less': showShortDesciption}">
                            <small>He has always been providing strategic direction to the institution. He believes that
                            every child has a unique set of attributes which needs nurturing.		
                            Therefore, every child deserves an education that fosters academic excellence and 
                            holistic development, with a promise for a bright future. He insists on a technology 
                            enabled environment in school that facilitates the process of teaching and learning.</small>
                            </div> -->
                            
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/assets/website/img/instructors/team-2.png" alt="">
                    </div>
                    <!-- <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div> -->
                    <div class="text-center p-4">
                        <h3 class="mb-0">Mr. PRATEEK MAURYA</h3>
                        <h3 class="mb-0">MANAGING DIRECTOR</h3>
                        <button mat-raised-button (click)="openDialog(2)">Read</button>
                        <!-- <small>Designation</small> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/assets/website/img/instructors/team-3.JPG" alt="">
                    </div>
                    <!-- <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div> -->
                    <div class="text-center p-4">
                        <h3 class="mb-0">Mrs. DEEPIKA KUSHWAHA</h3>
                        <h3 class="mb-0">PRINCIPAL</h3>
                        <button mat-raised-button (click)="openDialog(3)">Read</button>
                        <!-- <small>CHAIRMAN</small> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/assets/website/img/instructors/team-4.JPG" alt="">
                    </div>
                    <!-- <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div> -->
                    <div class="text-center p-4">
                        <h3 class="mb-0">Mrs. MUDRIKA MAURYA</h3>
                        <h3 class="mb-0">VICE-PRINCIPAL</h3>
                        <button mat-raised-button (click)="openDialog(4)">Read</button>
                        <!-- <small>Designation</small> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>