<div class="container mt-2">

    <!-- Filter details -->
    <form [formGroup]="formgroup">
        <div class="grid-card-container card-bottom-margin form-bg">
            <!-- Begin:: Filer  -->
            <ng-container *ngIf="callBylinkFlag">
                <div class="grid-form">
                    <!-- begin::academic year -->
                    <div class="form-group">
                        <label class="form-label required">Academic Year</label>
                        <mat-select formControlName="academicYearCode" (selectionChange)="academicYearChange()" class="form-control form-control-sm">
                            <input type="text" class="form-control  form-control-sm" #filterAcademicYear>
                            <div *ngIf="academicYearList | async as postdata ">
                                <mat-option
                                    *ngFor="let data of postdata.data | filterData: filterAcademicYear.value : 'academicYear'"
                                    [value]="data.academicYearCode">
                                    {{data.academicYear}}
                                </mat-option>
                            </div>
                        </mat-select>
                        <div class="invalid-feedback">
                            {{validationMsg.getErrorMessage(feesFormControll.academicYearCode,"Academic Year")}}
                        </div>
                    </div>
                    <!-- end::academic year -->
                    <!-- begin::Standard -->
                    <div class="form-group">
                        <label class="form-label required">Standard</label>
                        <!-- <input class="form-control form-control-sm" formControlName="standard" autocomplete="off"> -->
                        <mat-select class="form-control form-control-sm" (selectionChange)="loadStudentList()"
                            formControlName="classCode">
                            <input type="text" class="form-control  form-control-sm" #filterClassName>
                            <div *ngIf="allClassList | async as postdata ">
                                <mat-option
                                    *ngFor="let data of postdata.data | filterData: filterClassName.value : 'className'"
                                    [value]="data.classCode">
                                    {{data.className}}
                                </mat-option>
                            </div>
                        </mat-select>
                        <div class="invalid-feedback">
                            {{validationMsg.getErrorMessage(feesFormControll.classCode,"Standard")}}
                        </div>
                    </div>
                    <!-- end::Standard -->

                    <!-- begin::Student Name -->
                    <div class="form-group">
                        <label class="form-label required">Select Student</label>
                        <mat-select class="form-control form-control-sm" formControlName="registrationNo">
                            <input type="text" class="form-control  form-control-sm" #filterStudent>
                            <div *ngIf="studentList | async as postdata ">
                                <mat-option
                                    *ngFor="let data of postdata.data | filterData: filterStudent.value : 'studentName'"
                                    [value]="data.registrationNo">
                                    {{data.studentName}}
                                </mat-option>
                            </div>
                        </mat-select>
                        <div class="invalid-feedback">
                            {{validationMsg.getErrorMessage(feesFormControll.registrationNo,"Student Name")}}</div>
                    </div>
                    <!-- end::Student Name -->

                    <!-- begin::Buttons -->
                    <div class="grid-button form-group pt-4">
                        <button class="btn btn-sm btn-success mx-3"
                            [disabled]="!(feesFormControll.registrationNo.value && feesFormControll.classCode.value && feesFormControll.academicYearCode.value)"
                            (click)="getFeesDetails()">Get Fees
                            Details</button>
                        <button class="btn btn-sm btn-danger" (click)="resetForm()">Reset</button>
                    </div>
                    <!-- end::Buttons -->
                </div>
            </ng-container>
            <!-- End:: Filter -->

            <div *ngIf="registrationModel | async as registartion">
                <!-- Fee Structure Card -->
                <div *ngIf="registartion.data[0].studentFeesStructure[0] as studentFeesStructure ">
                    <!--Begin:: Student details and lumpsum button -->
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <span>Fee Structure of -&nbsp;&nbsp;&nbsp; Student Name:
                                {{registartion.data[0].studentName}}
                                &nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Class: {{registartion.data[0].standard}}
                                &nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Father Name:
                                {{registartion.data[0].fatherName}}</span>
                            <!-- <span><b>Registration Number: {{registartion.data[0].registrationNo}}</b></span> -->
                            <!-- <span><b>Contact Number: {{registartion.data[0].fatherContactNo}}</b></span> -->
                            <!-- <ng-container *ngIf="lumpsumButtonFlag"> -->
                            <!-- <button (click)="lumpsumButtonClicked()" class="btn btn-sm btn-info">Please Click if you want to Convert To Lumpsum</button> -->
                            <!-- <button class="btn btn-sm btn-info">Please Click if you want to Convert To Lumpsum</button> -->
                            <!-- </ng-container> -->
                        </div>
                    </div>
                    <!--End:: Student details and lumpsum button -->

                    <!-- Previous Amount After Discount Table (Installment details)-->
                    <!-- <ng-container *ngIf="!isLumpsum"> -->
                    <div class="mb-4">
                        <h2>Annual + Registration Fee: {{studentFeesStructure.annualFees +
                            studentFeesStructure.registrationFees}}, Pending Fee:{{regPendingFees}} </h2>
                        <table class="table show-previous-amount-table">
                            <thead>
                                <tr style="background-color: rgb(217, 241, 233);">
                                    <th scope="col">S.No</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Previous Discount</th>
                                    <th scope="col">Enter Discount</th>
                                    <th scope="col">Reason for Discount</th>
                                    <th scope="col">Amount After Discount</th>
                                    <th scope="col">Amount Paid</th>
                                    <th scope="col">Net Payable</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" readonly value="1" class="form-control"></td>
                                    <td><input type="text" readonly value="{{studentFeesStructure.annualFeesDate | dateFormatPipe}}"
                                            class="form-control"></td>
                                    <td><input type="text" formControlName="regAndAnnualFees" readonly
                                            class="form-control blue-colour"></td>
                                    <td><input type="text" formControlName="regPreviousDiscount" readonly
                                            class="form-control previous-discount-colour"></td>
                                    <td><input type="number" formControlName="regFeesDiscount"
                                            (input)="onRegFeesDiscountChange()" class="form-control"></td>
                                    <td><input type="text" formControlName="regFeesDiscountReason"
                                            (input)="onDiscountReasonChange()" class="form-control"></td>
                                    <td><input type="text" formControlName="regAmountAfterDiscount" readonly
                                            value="{{(studentFeesStructure.annualFees + studentFeesStructure.registrationFees) - studentFeesStructure.discountAmount}}"
                                            class="form-control blue-colour"></td>
                                    <td><input type="text" formControlName="regAmountPaid" readonly
                                            class="form-control blue-colour"></td>
                                    <td><input type="text" formControlName="regNetPayable" readonly
                                            class="form-control"></td>
                                </tr>
                                <tr>
                                    <td class="leftAlign" colspan="9">
                                        <h2>Installment (Term Fee: {{termFees}}, Term Fee Pending Amounts :
                                            {{termFeesPendingAmount}})</h2>
                                    </td>
                                </tr>
                                <ng-container formArrayName="studentFeesInstallment">
                                    <ng-container
                                        *ngFor="let installmentFormGroup of studentInstallmentFormGroups.controls; let i = index">
                                        <ng-container [formGroupName]="i">
                                            <tr>
                                                <td><input type="text" readonly formControlName="installmentNumber"
                                                        class="form-control form-control-sm"></td>
                                                <td><input type="text" readonly formControlName="installmentDate"
                                                        class="form-control form-control-sm"></td>
                                                <td><input type="text" readonly formControlName="installmentAmount"
                                                        class="form-control form-control-sm blue-colour"></td>
                                                <td><input type="text" readonly value="0"
                                                        class="form-control form-control-sm previous-discount-colour">
                                                </td>
                                                <td><input type="number" formControlName="discountAmount"
                                                        (input)="onInstallmentDiscountChange(i)"
                                                        class="form-control form-control-sm"></td>
                                                <td><input type="text" formControlName="discountReason"
                                                        (input)="onDiscountReasonChange()"
                                                        class="form-control form-control-sm"></td>
                                                <td><input type="text" readonly formControlName="amountAfterDiscount"
                                                        class="form-control form-control-sm blue-colour"></td>
                                                <td><input type="text" readonly formControlName="amountPaid"
                                                        class="form-control form-control-sm blue-colour"></td>
                                                <td><input type="text" readonly formControlName="netPayable"
                                                        #payableValue class="form-control form-control-sm"></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>

                                <tr class="total">
                                    <td></td>
                                    <td>Total</td>
                                    <td>{{totalAmount}}</td>
                                    <td>{{studentFeesStructure.discountAmount}}</td>
                                    <td>{{totalIndividualDiscount}}</td>
                                    <td></td>
                                    <td>{{totalAmountAfterDiscount}}</td>
                                    <td>{{amountPaidTillDate}}</td>
                                    <td>{{totalNetPayable}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- </ng-container> -->
                    <!-- End:: Installment Details -->

                    <!-- Begin:: Lumpsum details -->
                    <!-- <ng-container *ngIf="isLumpsum">
                        <h3>Lumpsump details</h3>

                    </ng-container> -->
                    <!-- End :: Lumnpsum Details -->

                    <!--Begin:: Fee Payment Details-->
                    <div class="mb-4">
                        <div class="d-flex">
                            <h2>Fee Payment - Please Enter Payment Details Below: (Amount Paid Till Date
                                :{{amountPaidTillDate}})</h2>
                            <ng-container *ngIf="discountChanged">
                                <button class="btn btn-sm btn-success m-2" (click)="updateFeeStructureDiscount()">Save
                                    Discount</button>
                            </ng-container>
                        </div>
                        <table class="table fee-payment-table">
                            <thead>
                                <tr>
                                    <th scope="col" class="form-label required">Amount</th>
                                    <th scope="col">Remarks</th>
                                    <th scope="col" class="form-label required">Payment Mode </th>
                                    <th scope="col" class="form-label required">Payment Date </th>
                                    <th scope="col" class="form-label ">Receipt to be Printed on the name of </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <input type="text" formControlName="amount" class="form-control"
                                                placeholder="Enter Amount" />
                                            <div class="invalid-feedback">
                                                {{validationMsg.getErrorMessage(feesFormControll.amount,"Amount")}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div >
                                            <input type="text" formControlName="remarks" class="form-control"
                                                placeholder="Enter Remarks" />
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select class="form-select" formControlName="paymentMode"
                                                class="form-control">
                                                <option selected>Select Mode</option>
                                                <option value="CASH">CASH</option>
                                                <option value="ONLINE">ONLINE</option>
                                                <option value="CHEQUE">CHEQUE</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                {{validationMsg.getErrorMessage(feesFormControll.paymentMode,"Payment
                                                Mode")}}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <div class="datepicker-container">
                                                <input matInput [matDatepicker]="picker" formControlName="paymentDate"
                                                    [max]="maxDate" [min]="minDate" class="form-control" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="picker"
                                                    class="toggle-datepicker-icon-position"
                                                    [disabled]="false"></mat-datepicker-toggle>
                                                <mat-datepicker #picker [disabled]="false"></mat-datepicker>
                                            </div>
                                            <div class="invalid-feedback">
                                                {{validationMsg.getErrorMessage(feesFormControll.paymentDate,"Payment
                                                Date")}}</div>
                                        </div>

                                    </td>
                                    <td>

                                        <!-- <div class="form-group">
                                            <select class="form-select" formControlName="paymentReceivedBy"
                                                class="form-control">
                                                <option selected>Select Name</option>
                                                <option value="1">Shubhanshu Maurya</option>
                                                <option value="2">Dinesh Kumar</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                {{validationMsg.getErrorMessage(feesFormControll.paymentReceivedBy,"Payment
                                                Received by")}}</div>
                                        </div> -->
                                        <!-- begin::Parent details -->
                                        <div>
                                            <!-- <label class="form-label required">Academic Year</label> -->
                                            <mat-select formControlName="paymentReceivedBy"
                                                class="form-control">
                                                <div>
                                                    <mat-option
                                                        *ngFor="let data of parentDetails"
                                                        [value]="data.name">
                                                        {{data.name}}
                                                    </mat-option>
                                                </div>
                                            </mat-select>
                                            <!-- <div class="invalid-feedback">
                                                {{validationMsg.getErrorMessage(feesFormControll.paymentReceivedBy,"Payment
                                                Received by")}}
                                            </div> -->
                                        </div>
                                        <!-- end::academic year -->
                                       
                                </tr>
                            </tbody>
                        </table>
                        <div class="justify-content-start">
                            <div>
                                <button (click)="openDialog()" [disabled]="previewReceiptFlag" class="btn btn-sm btn-info m-2">Preview Receipt</button>
                                <button class="btn btn-sm btn-warning m-2">Save & Print</button>
                                <button class="btn btn-sm btn-success m-2"
                                    [disabled]="!formgroup.valid || discountChanged" (click)="save()">Save</button>
                            </div>
                            <div>
                                <ng-container *ngIf="discountChanged && formgroup.valid">
                                    <h3>
                                        <font color="red">Save Discount Changes First</font>
                                    </h3>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!--End:: Fee Payment Details-->

                </div>
            </div>


        </div>
    </form>
</div>