<ng-container *ngIf="!displayAllReceipt">
    <div class="container mt-2">

        <!-- Filter details -->
        <form [formGroup]="formgroup">
            <div class="grid-card-container card-bottom-margin form-bg">
                <!-- Begin:: Filer  -->
                <ng-container *ngIf="callBylinkFlag">
                    <div class="grid-form">
                        <!-- begin::academic year -->
                        <div class="form-group">
                            <label class="form-label required">Academic Year</label>
                            <mat-select formControlName="academicYearCode" (selectionChange)="academicYearChange()"
                                class="form-control form-control-sm">
                                <input type="text" class="form-control  form-control-sm" #filterAcademicYear>
                                <!-- <div *ngIf="academicYearList | async as postdata ">
                                <mat-option
                                    *ngFor="let data of postdata.data | filterData: filterAcademicYear.value : 'academicYear'"
                                    [value]="data.academicYearCode">
                                    {{data.academicYear}}
                                </mat-option>
                            </div> -->

                                <mat-option
                                    *ngFor="let data of academicyearList | filterData: filterAcademicYear.value : 'academicYear'"
                                    [value]="data.academicYearCode">
                                    {{data.academicYear}}
                                </mat-option>

                            </mat-select>
                            <div class="invalid-feedback">
                                {{validationMsg.getErrorMessage(feesFormControll.academicYearCode,"Academic Year")}}
                            </div>
                        </div>
                        <!-- end::academic year -->
                        <!-- begin::Standard -->
                        <div class="form-group">
                            <label class="form-label required">Standard</label>
                            <!-- <input class="form-control form-control-sm" formControlName="standard" autocomplete="off"> -->
                            <mat-select class="form-control form-control-sm" (selectionChange)="loadStudentList()"
                                formControlName="classCode">
                                <input type="text" class="form-control  form-control-sm" #filterClassName>
                                <!-- <div *ngIf="allClassList | async as postdata ">
                                <mat-option
                                    *ngFor="let data of postdata.data | filterData: filterClassName.value : 'className'"
                                    [value]="data.classCode">
                                    {{data.className}}
                                </mat-option>
                            </div> -->

                                <mat-option
                                    *ngFor="let data of classList | filterData: filterClassName.value : 'className'"
                                    [value]="data.classCode">
                                    {{data.className}}
                                </mat-option>

                            </mat-select>
                            <div class="invalid-feedback">
                                {{validationMsg.getErrorMessage(feesFormControll.classCode,"Standard")}}
                            </div>
                        </div>
                        <!-- end::Standard -->

                        <!-- begin::Student Name -->
                        <div class="form-group">
                            <label class="form-label required">Select Student</label>
                            <mat-select class="form-control form-control-sm" formControlName="registrationNo">
                                <input type="text" class="form-control  form-control-sm" #filterStudent>
                                <div *ngIf="studentList | async as postdata ">
                                    <mat-option
                                        *ngFor="let data of postdata.data | filterData: filterStudent.value : 'studentName'"
                                        [value]="data.registrationNo">
                                        {{data.studentName}}
                                    </mat-option>
                                </div>
                            </mat-select>
                            <div class="invalid-feedback">
                                {{validationMsg.getErrorMessage(feesFormControll.registrationNo,"Student Name")}}</div>
                        </div>
                        <!-- end::Student Name -->

                        <!-- begin::Buttons -->
                        <div class="grid-button form-group pt-4">
                            <button class="btn btn-sm btn-success mx-3"
                                [disabled]="!(feesFormControll.registrationNo.value && feesFormControll.classCode.value && feesFormControll.academicYearCode.value)"
                                (click)="getFeesDetails()">Get Fees
                                Details</button>
                            <button class="btn btn-sm btn-danger" (click)="resetForm()">Reset</button>
                        </div>
                        <!-- end::Buttons -->
                    </div>
                </ng-container>
                <!-- End:: Filter -->

                <div *ngIf="registrationModel | async as registartion">
                    <!-- Fee Structure Card -->
                    <div *ngIf="registartion.data[0].studentFeesStructure[0] as studentFeesStructure ">
                        <!--Begin:: Student details and lumpsum button -->
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between fw-bold fs-6">
                                <span>Fee Structure of -&nbsp;&nbsp;&nbsp; Student Name:
                                    <strong>{{registartion.data[0].studentName}}</strong>&nbsp;&nbsp;&nbsp;
                                    Academic Year:&nbsp;<strong>{{registartion.data[0].academicYearCode}}</strong>
                                    &nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Class:
                                    <strong>{{registartion.data[0].standard}}</strong>
                                    &nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Father Name:
                                    <strong>{{registartion.data[0].fatherName}}</strong></span>
                                <!-- <span><b>Registration Number: {{registartion.data[0].registrationNo}}</b></span> -->
                                <!-- <span><b>Contact Number: {{registartion.data[0].fatherContactNo}}</b></span> -->
                                <!-- <ng-container *ngIf="lumpsumButtonFlag"> -->
                                <!-- <button (click)="lumpsumButtonClicked()" class="btn btn-sm btn-info">Please Click if you want to Convert To Lumpsum</button> -->
                                <!-- <button class="btn btn-sm btn-info">Please Click if you want to Convert To Lumpsum</button> -->
                                <!-- </ng-container> -->
                            </div>
                        </div>
                        <!--End:: Student details and lumpsum button -->

                        <!-- Previous Amount After Discount Table (Installment details)-->
                        <!-- <ng-container *ngIf="!isLumpsum"> -->
                        <div class="mb-4">
                            <h2>Annual + Registration Fee: {{annualAndRegistrationFee}}, Pending Fee:{{regPendingFees}}
                            </h2>
                            <table class="table show-previous-amount-table">
                                <thead>
                                    <tr style="background-color: rgb(217, 241, 233);">
                                        <th scope="col">S.No</th>
                                        <th scope="col">Installment Type</th>
                                        <th scope="col">Due Date</th>
                                        <th scope="col">Total Amount</th>
                                        <th scope="col">Previous Discount</th>
                                        <th scope="col">Enter Discount</th>
                                        <th scope="col">Reason for Discount</th>
                                        <th scope="col">Amount After Discount</th>
                                        <th scope="col">Amount Paid</th>
                                        <th scope="col">Net Payable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container formArrayName="studentFeesInstallment">
                                        <ng-container
                                            *ngFor="let installmentFormGroup of studentInstallmentFormGroups.controls; let i = index">
                                            <ng-container [formGroupName]="i">
                                                <ng-container *ngIf="i==2">
                                                    <tr>
                                                        <td class="leftAlign" colspan="9">
                                                            <h2>Installment (Term Fee: {{termFees}}, Term Fee Pending
                                                                Amounts :
                                                                {{termFeesPendingAmount}})</h2>
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                                <tr>
                                                    <td><input type="text" readonly formControlName="installmentNumber"
                                                            class="form-control form-control-sm"></td>
                                                    <td><input type="text" readonly formControlName="installmentType"
                                                            class="form-control form-control-sm"></td>
                                                    <td><input type="text" readonly formControlName="installmentDate"
                                                            class="form-control form-control-sm"></td>
                                                    <td><input type="text" readonly formControlName="installmentAmount"
                                                            class="form-control form-control-sm blue-colour"></td>
                                                    <td><input type="text" readonly
                                                            formControlName="installmentDiscount"
                                                            class="form-control form-control-sm previous-discount-colour">
                                                    </td>
                                                    <td><input type="number" formControlName="discountAmount"
                                                            (input)="onInstallmentDiscountChange(i)"
                                                            class="form-control form-control-sm"></td>
                                                    <td><input type="text" formControlName="discountReason"
                                                            (input)="onDiscountReasonChange()"
                                                            class="form-control form-control-sm"></td>
                                                    <td><input type="text" readonly
                                                            formControlName="amountAfterDiscount"
                                                            class="form-control form-control-sm blue-colour"></td>
                                                    <td><input type="text" readonly formControlName="amountPaid"
                                                            class="form-control form-control-sm blue-colour"></td>
                                                    <td><input type="text" readonly formControlName="netPayable"
                                                            #netpayable class="form-control form-control-sm"
                                                            [ngClass]="{'green-colour' : netpayable.value=='0', 'red-colour': netpayable.value!='0'}">
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>

                                    <tr class="total">
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td>{{totalAmount}}</td>
                                        <td>{{installmentDiscount}}</td>
                                        <td>{{totalIndividualDiscount}}</td>
                                        <td></td>
                                        <td>{{totalAmountAfterDiscount}}</td>
                                        <td>{{amountPaidTillDate}}</td>
                                        <td>{{totalNetPayable}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End:: Installment Details -->

                        <div class="row p-0">
                            <div class="col-md-12">
                                <div class="float-right">
                                    <ng-container *ngIf="discountChanged">
                                        <button class="btn btn-sm btn-success m-2"
                                            (click)="updateFeeStructureDiscount()">Save
                                            Discount</button>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <!-- Begin:: Book Dress Fees Begin -->
                        <ng-container *ngIf="bookAndDressFeesModel">
                            <div class="mb-4">
                                <!-- <h2>Book + Dress Fees: {{bookAndDressFeesModel.bookFees + (studentDetails.gender==='M' ? bookAndDressFeesModel.boyDressFees : bookAndDressFeesModel.girlDressFees) }}, Pending Fee: {{payableDressFees+payableBookFees}}</h2> -->
                                <!-- <h2>Book + Dress Fees: {{bookAndDressFeesModel.bookFees}}, Pending Fee: {{payableBookFees}}</h2>  -->
                                <h2>SSM: {{bookAndDressFeesModel.bookFees}}, Pending Fee: {{payableBookFees}}</h2>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <label> S.No</label>
                                            <input type="text" readonly value="1" class="form-control form-control-sm">
                                        </div>
                                        <div class="col-md-5">
                                            <label>Fees Type </label>
                                            <input type="text" readonly value="SSM Fees"
                                                class="form-control form-control-sm">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Total Amount </label>
                                            <input type="text" readonly value="{{bookAndDressFeesModel.bookFees}}"
                                                class="form-control form-control-sm blue-colour">
                                        </div>
                                        <div class="col-md-2">
                                            <label> Amount Paid</label>
                                            <input type="text" readonly value="{{bookFeesPaid}}"
                                                class="form-control form-control-sm blue-colour">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Net Payable </label>
                                            <input type="text" readonly value="{{payableBookFees}}"
                                                [ngClass]="{'green-colour' : payableBookFees==0, 'red-colour': payableBookFees!=0}"
                                                class="form-control form-control-sm">
                                        </div>


                                    </div>
                                </div>
                                <hr>
                            </div>
                        </ng-container>
                        <!-- End:: Installment Details -->
                        <!-- End:: Book Dress Fees Begin -->


                        <!--Begin:: Fee Payment Details-->
                        <div class="mb-4">
                            <div class="d-flex">
                                <h2>Fee Payment - Please Enter Payment Details Below: (Amount Paid Till Date
                                    :{{amountPaidTillDate}})</h2>
                            </div>
                            <div class="container m-0">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="fw-bold required">Amount</label>
                                        <input type="text" formControlName="amount" class="form-control"
                                            placeholder="Amount" />
                                        <div class="invalid-feedback">
                                            {{validationMsg.getErrorMessage(feesFormControll.amount,"Amount")}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="fw-bold required">Payment Type</label>
                                        <select class="form-select" formControlName="paymenttype" class="form-control">
                                            <option value="Fees">Fees</option>
                                            <option value="Book Fees">SSM Fees</option>
                                            <!-- <option value="Dress Fees">Dress Fees</option>                                                    -->
                                        </select>
                                        <div class="invalid-feedback">
                                            {{validationMsg.getErrorMessage(feesFormControll.paymenttype,"Payment
                                            Type")}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="fw-bold">Remarks</label>
                                        <input type="text" formControlName="remarks" class="form-control"
                                            placeholder="Enter Remarks" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="fw-bold required">Payment Mode</label>
                                        <select class="form-select" formControlName="paymentMode" class="form-control">
                                            <option selected>Select Mode</option>
                                            <option value="CASH">CASH</option>
                                            <option value="ONLINE">ONLINE</option>
                                            <option value="CHEQUE">CHEQUE</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            {{validationMsg.getErrorMessage(feesFormControll.paymentMode,"Payment
                                            Mode")}}</div>
                                    </div>
                                   
                                    <div class="col-md-2">
                                        <label class="fw-bold">Month</label>
                                        <mat-select class="form-control" placeholder="Month" formControlName="month" [(value)]="selectedMonth" multiple>
                                          <mat-option *ngFor="let month of monthList" [value]="month">{{month}}</mat-option>
                                        </mat-select>
                                    </div>
                                      

                                    <div class="col-md-2">
                                        <label class="fw-bold required">Payment Date</label>
                                        <div class="datepicker-container">
                                            <input matInput [matDatepicker]="picker" formControlName="paymentDate"
                                                [max]="maxDate" [min]="minDate" class="form-control" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker"
                                                class="toggle-datepicker-icon-position"
                                                [disabled]="false"></mat-datepicker-toggle>
                                            <mat-datepicker #picker [disabled]="false"></mat-datepicker>
                                        </div>
                                        <div class="invalid-feedback">
                                            {{validationMsg.getErrorMessage(feesFormControll.paymentDate,"Payment
                                            Date")}}</div>
                                    </div>
                                    <div class="col-md-2 pt-3">
                                        <label class="fw-bold">Receipt to be Printed</label>
                                        <mat-select formControlName="paymentReceivedBy" class="form-control">
                                            <div>
                                                <mat-option *ngFor="let data of parentDetails" [value]="data.name">
                                                    {{data.name}}
                                                </mat-option>
                                            </div>
                                        </mat-select>
                                    </div>

                                </div>
                            </div>
                            <hr>

                            <div class="justify-content-start">
                                <div>
                                    <!-- <button (click)="openDialog()" [disabled]="previewReceiptFlag" class="btn btn-sm btn-info m-2">Preview Receipt</button> -->

                                    <button (click)="previewReceipt()" [disabled]="previewReceiptFlag"
                                        class="btn btn-sm btn-info m-2">Preview All Payment Receipt</button>


                                    <!-- <button class="btn btn-sm btn-info m-2 d-none" printSectionId="print-section"
                                        [useExistingCss]="true" ngxPrint #printAndSaveButton>Print</button> -->

                                    <div class="d-none"><app-fees-receipt-printout #childComponent
                                            [feesModel]="feesModel"></app-fees-receipt-printout></div>

                                    <ng-container *ngIf="!editable;else formValidation">
                                        <button class="btn btn-sm btn-warning disabled m-2"
                                           ><i class="fa fa-ban text-danger" aria-hidden="true" disabled="true">&nbsp;&nbsp;</i>Blocked By Admin</button>
                                    </ng-container>
                                    <ng-template #formValidation>
                                                <button class="btn btn-sm btn-success m-2"
                                                (click)="save()" [disabled]="!formgroup.valid || discountChanged">Save & Print</button>
                                    </ng-template>
                                </div>
                                <div>
                                    <ng-container *ngIf="discountChanged && formgroup.valid">
                                        <h3>
                                            <font color="red">Save Discount Changes First</font>
                                        </h3>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <!--End:: Fee Payment Details-->

                    </div>
                </div>


            </div>
        </form>
    </div>
</ng-container>




<ng-container *ngIf="displayAllReceipt">
    <div>
        <ng-container *ngIf="feesData.length>0">
            <button (click)="previewReceipt()" [disabled]="previewReceiptFlag" class="btn btn-sm btn-info m-2">Back To
                Fees Details</button>
            <div *ngIf="registrationModel | async as registartion">
                <div *ngIf="registartion.data[0].studentFeesStructure[0] as studentFeesStructure ">
                    <!--Begin:: Student details and lumpsum button -->
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between fw-bold fs-6">
                            <span>Fee Structure of -&nbsp;&nbsp;&nbsp; Student Name:
                                <strong>{{registartion.data[0].studentName}}</strong>&nbsp;&nbsp;&nbsp;
                                Academic Year:&nbsp;<strong>{{registartion.data[0].academicYearCode}}</strong>
                                &nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Class:
                                <strong>{{registartion.data[0].standard}}</strong>
                                &nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Father Name:
                                <strong>{{registartion.data[0].fatherName}}</strong></span>
                        </div>
                    </div>
                    <!--End:: Student details and lumpsum button -->
                </div>
            </div>
            <div class="grid-card-container card-bottom-padding pt-2 table-responsive">
                <table id='table' datatable [dtOptions]="dtOptions" class="custom-data-table overflow">
                    <thead>
                        <tr>
                            <th class="td-class">Receipt Number</th>
                            <th class="td-class">Payment Date</th>
                            <th class="td-class">Payment Mode</th>
                            <th class="td-class">Remarks</th>
                            <!-- <th class="td-class">Printed on the name of</th> -->
                            <th class="td-class">Fees Taken By</th>
                            <th class="td-class">Amount</th>

                            <th class="td-class">Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of feesData;let i=index">
                            <td class="td-auto">{{data.receiptNo}}</td>
                            <td class="td-auto">{{data.paymentDate | dateFormatPipe}}</td>
                            <td class="td-auto">{{data.paymentMode}}</td>
                            <td class="td-auto">{{data.remarks}}</td>
                            <!-- <td class="td-auto">{{data.paymentReceivedBy}}</td> -->
                            <td class="td-auto">{{data.updatedBy}}</td>
                            <td class="td-auto">{{data.amount}}</td>
                            <td class="td-auto"><button (click)="printReceipt(i)"
                                    class="btn btn-sm btn-warning">Print</button></td>
                        </tr>
                    </tbody>
                </table>
                <!--end::table-->
                <app-fees-receipt-printout #receiptComponent [feesModel]="receiptFeesModel"
                    class="d-none"></app-fees-receipt-printout>
            </div>
        </ng-container>
        <!--end::second Card body-->
    </div>
</ng-container>