.show-previous-amount-table > thead > tr > th{
    padding: 5px;
    text-align: left; 
}

.total > td{
    padding: 1.5rem;
    text-align: left;
    background-color: rgb(232, 208, 179) ;
    height: 50px;
    font-weight: bold;
   }

.fee-payment-table > thead > tr > th {
    padding: 1rem;
    text-align: left;
}

.show-previous-amount-table > tbody > tr > td{
    padding: 0.1rem;
    text-align: left;
}

.fee-payment-table > tbody > tr > td {
    padding: 0.1rem;
    text-align: left;
}

.blue-colour{
    background-color: rgb(130, 181, 236);
}
.previous-discount-colour{
    background-color: rgb(236, 176, 176);
}

.green-colour{
    background-color: rgb(118, 177, 118);
}

.orange-colour{
    background-color: rgb(202, 174, 121);
}

.dress-bgcolour{
    background-color: rgb(233 237 232);
    padding: 0.5rem;
}