<div class="container mt-2">

    <!-- Filter details -->
    <div class="grid-card-container card-bottom-margin form-bg">
        <form [formGroup]="formgroup" class="grid-form">
            <!-- begin::academic year -->
            <div class="form-group">
                <label class="form-label required">Academic Year</label>
                <mat-select formControlName="academicYearCode" class="form-control form-control-sm">
                    <input type="text" class="form-control  form-control-sm" #filterAcademicYear>
                    <div *ngIf="academicYearList | async as postdata ">
                        <mat-option
                            *ngFor="let data of postdata | filterData: filterAcademicYear.value : 'academicYear'"
                            [value]="data.academicYearCode">
                            {{data.academicYear}}
                        </mat-option>
                    </div>
                </mat-select>
                <div class="invalid-feedback">
                    {{validationMsg.getErrorMessage(feesFormControll.academicYearCode,"Academic Year")}}
                </div>
            </div>
            <!-- end::academic year -->
            <!-- begin::Standard -->
            <div class="form-group">
                <label class="form-label required">Standard</label>
                <!-- <input class="form-control form-control-sm" formControlName="standard" autocomplete="off"> -->
                <mat-select class="form-control form-control-sm" (selectionChange)="loadStudentList()"
                    formControlName="classCode">
                    <input type="text" class="form-control  form-control-sm" #filterClassName>
                    <div *ngIf="allClassList | async as postdata ">
                        <mat-option *ngFor="let data of postdata | filterData: filterClassName.value : 'className'"
                            [value]="data.classCode">
                            {{data.className}}
                        </mat-option>
                    </div>
                </mat-select>
                <div class="invalid-feedback">{{validationMsg.getErrorMessage(feesFormControll.classCode,"Standard")}}
                </div>
            </div>
            <!-- end::Standard -->

            <!-- begin::Student Name -->
            <div class="form-group">
                <label class="form-label required">Select Student</label>
                <mat-select class="form-control form-control-sm" formControlName="registrationNo">
                    <input type="text" class="form-control  form-control-sm" #filterStudent>
                    <div *ngIf="studentList | async as postdata ">
                        <mat-option *ngFor="let data of postdata.data | filterData: filterStudent.value : 'studentName'"
                            [value]="data.registrationNo">
                            {{data.studentName}}
                        </mat-option>
                    </div>
                </mat-select>
                <div class="invalid-feedback">{{validationMsg.getErrorMessage(feesFormControll.registrationNo,"Student Name")}}</div>
            </div>
            <!-- end::Student Name -->

            <!-- begin::Buttons -->
            <div class="grid-button form-group pt-4">
                <button class="btn btn-success mx-3" [disabled]="!formgroup.valid" (click)="getFeesDetails()">Get Fees
                    Details</button>
                <button class="btn btn-danger" (click)="resetForm()">Reset</button>
            </div>
            <!-- end::Buttons -->

        </form>
    </div>
    <!--<div class="card-body">
        <p></p>
      </div>-->



    <!--<h1>Fee Payment - Subsequent</h1>-->
<div *ngIf="feesStructureModel | async as postdata ">
    <div *ngIf="postdata.data[0] as feesStructure ">
    <!-- Fee Structure Card -->
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <span>Fee Structure of <b>Shubhanshu Maurya -</b></span>
            <button class="btn btn-info">Please Click if you want to Convert To Lumpsum</button>
        </div>
        <!--<div class="card-body">
        <p></p>
      </div>-->
    </div>

    <!-- Previous Amount After Discount Table -->
    <div class="mb-4">
        <h2>Annual + Registration Fee: {{feesStructure.annualFees + feesStructure.registrationFees}}, Pending Fee: 0</h2>
        <table class="table show-previous-amount-table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Previous Discount</th>
                    <th scope="col">Enter Discount</th>
                    <th scope="col">Reason for Discount</th>
                    <th scope="col">Amount After Discount</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Net Payable</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>10/04/2023</td>
                    <td>{{feesStructure.annualFees + feesStructure.registrationFees}}</td>
                    <td><input type="text" readonly value="{{feesStructure.discountAmount}}" class="form-control"></td>
                    <td><input type="text" class="form-control" placeholder="Enter Discount"></td>
                    <td><input type="text" class="form-control" placeholder="Discount Reason"></td>
                    <td>{{(feesStructure.annualFees + feesStructure.registrationFees) - feesStructure.discountAmount}}</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="" colspan="7">
                        <h2>Installment (Term Fee: {{(feesStructure.netAmountAfterDiscount-(feesStructure.annualFees + feesStructure.registrationFees))}}, Term Fee Pending Amounts : 12000)</h2>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>10/04/2023</td>
                    <td>708</td>
                    <td><input type="text" readonly class="form-control" ></td>
                    <td><input type="text" class="form-control" placeholder="Enter Discount"></td>
                    <td><input type="text" class="form-control" placeholder="Discount Reason"></td>
                    <td>999</td>
                    <td>4000</td>
                    <td>4000</td>
                </tr>
                
                <tr class="bg-warning total">
                    <td><strong>Total</strong></td>
                    <td>23300</td>
                    <td>4900</td>
                    <td>Previous Discount </td>
                    <td>0</td>
                    <td>18400</td>
                    <td>999</td>
                    <td>64000</td>
                    <td>12000</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Fee Payment-->
    <div class="mb-4">
        <h2>Fee Payment - Please Enter Payment Details Below: (Amount Paid Till Date :6400)</h2>
        <table class="table fee-payment-table">
            <thead>
                <tr>
                    <th scope="col">Amount *</th>
                    <!-- <th scope="col">Discount Reason</th>
                    <th scope="col">Discount</th> -->
                    <th scope="col">Payment Mode</th>
                    <th scope="col">Payment Date</th>
                    <th scope="col">Receipt ton be Printed on the name of *</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="" class="form-control" placeholder="Enter Amount" />
                    </td>
                    <!-- <td>
                        <input type="text" name="" class="form-control" placeholder="Discount Reason" />
                    </td>
                    <td>
                        <input type="text" name="" class="form-control" placeholder="Enter Discount" />
                    </td> -->
                    <td>
                        <select class="form-select" class="form-control">
                            <option selected>Select Mode</option>
                            <option value="1">Paid</option>
                            <option value="2">Pending</option>
                        </select>
                    </td>
                    <td>
                        <input type="date" class="form-control">
                    </td>
                    <td>
                        <select class="form-select" class="form-control">
                            <option selected>Select Name</option>
                            <option value="1">Shubhanshu Maurya</option>
                            <option value="2">Dinesh Kumar</option>
                        </select>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-start">
            <button class="btn btn-info m-2">Preview Receipt</button>
            <button class="btn btn-warning m-2">Save & Print</button>
            <button class="btn btn-success m-2">Save</button>
        </div>
    </div>
</div>
</div>  
</div>