<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h4 class="mb-3">Skilled Instructors</h4>
                        <h5>To provide participants the knowledge and strategies to effectively educate and assess student skill acquisition and performance to ensure quality patient care.</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h4 class="mb-3">Online Classes</h4>
                        <h5>online classes have become an imminent trend in the education sector around the globe.</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h4 class="mb-3">Project Based Learning</h4>
                        <h5>In project-based learning, students don’t just sit and listen to lectures all day. Instead, they  become explorers and creators. They work together on project learning that ignite their minds with curiosity and excitement.</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h4 class="mb-3">Extracurricular activities</h4>
                        <h5>Extracurricular activities are an essential element of a person’s overall development. It also helps kids socialize, understand one another, and work as a team</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->