<div class="container">
<div class="row h-25">
    <div class="col-md-3 p-0">
        <div class="card card1 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Total Boys / Girls</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Boys - 56</b></h3>
                    <h3 class="p-0 m-0"><b>Girls - 67</b></h3>
                    <h3 class="p-0 m-0"><b>Total - 123 Students</b></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-0">
        <div class=" card card2 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Today Fees Collections</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Cash   - 12000 Rs </b></h3>
                    <h3 class="p-0 m-0"><b>Online - 2890 Rs</b></h3>
                    <h3 class="p-0 m-0"><b>Cheque - 90000 Rs</b></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-0">
        <div class="card card3 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Aadhar Not Submitted</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Submitted - 60</b></h3>
                    <h3 class="p-0 m-0"><b>Not Submitted - 20</b></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-0">
        <div class="card card4 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Dummy</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Submitted - 60</b></h3>
                    <h3 class="p-0 m-0"><b>Not Submitted - 20</b></h3>
                </div>
            </div>
        </div>
    </div>    
</div>
</div>