<div class="container">
<div class="row h-25">

    <ng-container *ngIf="totalBoysGirlsTab">
        <div class="col-md-3 p-0">
            <div class="card card1 card-height">
                <div class="card-body p-1">
                    <h3 class="card-title bg-white pl-1 m-0"><b>Total Boys / Girls</b></h3>
                    <div class="p-2">
                        <h3 class="p-0 m-0"><b>Boys - {{totalBoys}}</b></h3>
                        <h3 class="p-0 m-0"><b>Girls - {{totalGirls}}</b></h3>
                        <h3 class="p-0 m-0"><b>Total - {{totalStudents}}</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

<ng-container *ngIf="todayFeesCollectionTab">
    <div class="col-md-4 p-0">
        <div class=" card card2 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Today Fees Collections</b></h3>
                <div class="p-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td><h3 class="p-0 m-0"><b>Cash  </b></h3></td>
                                        <td><h3 class="p-0 m-0"><b>&nbsp;- &nbsp;{{cashCollection}} &nbsp;Rs  </b></h3></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td><h3 class="p-0 m-0"><b>Online  </b></h3></td>
                                        <td><h3 class="p-0 m-0"><b>&nbsp;- &nbsp;{{onlineCollection}} &nbsp;Rs </b></h3></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td><h3 class="p-0 m-0"><b>Cheque </b></h3></td>
                                        <td><h3 class="p-0 m-0"><b>&nbsp;- &nbsp;{{chequeCollection}} &nbsp;Rs </b></h3></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td><h3 class="p-0 m-0"><b>SSM</b></h3></td>
                                         <td><h3 class="p-0 m-0"><b>&nbsp;- &nbsp;{{ssmCollection}}  &nbsp;Rs</b></h3></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table>
                                    <tr>
                                        <td><h3 class="p-0 m-0"><b>Total Collection</b></h3></td>
                                        <td><h3 class="p-0 m-0"><b>&nbsp; - &nbsp;<font color="red">{{cashCollection+onlineCollection+chequeCollection+ssmCollection}} &nbsp;Rs</font></b></h3></td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>
                       
                    </div>
                    
                            
                    
                    
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="aadharNotSubmittedTab">
    <div class="col-md-3 p-0">
        <div class="card card3 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Aadhar Not Submitted</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Submitted - {{totalAadharSubmitted}}</b></h3>
                    <h3 class="p-0 m-0"><b>Not Submitted - {{totalAadharNotSubmitted}}</b></h3>
                </div>
            </div>
        </div>
    </div>
</ng-container>


    <!-- <div class="col-md-3 p-0">
        <div class="card card4 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Dummy</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Submitted - 60</b></h3>
                    <h3 class="p-0 m-0"><b>Not Submitted - 20</b></h3>
                </div>
            </div>
        </div>
    </div>     -->
</div>
</div>