<div class="container">
<div class="row h-25">

    <ng-container *ngIf="totalBoysGirlsTab">
        <div class="col-md-3 p-0">
            <div class="card card1 card-height">
                <div class="card-body p-1">
                    <h3 class="card-title bg-white pl-1 m-0"><b>Total Boys / Girls</b></h3>
                    <div class="p-2">
                        <h3 class="p-0 m-0"><b>Boys - {{totalBoys}}</b></h3>
                        <h3 class="p-0 m-0"><b>Girls - {{totalGirls}}</b></h3>
                        <h3 class="p-0 m-0"><b>Total - {{totalStudents}}</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

<ng-container *ngIf="todayFeesCollectionTab">
    <div class="col-md-3 p-0">
        <div class=" card card2 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Today Fees Collections</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Cash   - {{cashCollection}} Rs </b></h3>
                    <h3 class="p-0 m-0"><b>Online - {{onlineCollection}} Rs</b></h3>
                    <h3 class="p-0 m-0"><b>Cheque - {{chequeCollection}} Rs</b></h3>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="aadharNotSubmittedTab">
    <div class="col-md-3 p-0">
        <div class="card card3 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Aadhar Not Submitted</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Submitted - {{totalAadharSubmitted}}</b></h3>
                    <h3 class="p-0 m-0"><b>Not Submitted - {{totalAadharNotSubmitted}}</b></h3>
                </div>
            </div>
        </div>
    </div>
</ng-container>


    <!-- <div class="col-md-3 p-0">
        <div class="card card4 card-height">
            <div class="card-body p-1">
                <h3 class="card-title bg-white pl-1 m-0"><b>Dummy</b></h3>
                <div class="p-2">
                    <h3 class="p-0 m-0"><b>Submitted - 60</b></h3>
                    <h3 class="p-0 m-0"><b>Not Submitted - 20</b></h3>
                </div>
            </div>
        </div>
    </div>     -->
</div>
</div>