<div class="grid-card-container card-bottom-margin form-bg">
    <form [formGroup]="studentgroup" class="grid-form">
 
          <!-- begin::academic year -->
          <div class="form-group">
            <label class="form-label">Academic Year</label>
            <mat-select formControlName="academicYearCode" class="form-control form-control-sm" placeholder="Select Academic Year">
                <input type="text"
                class="form-control  form-control-sm"
                #filterAcademicYear>
                <div *ngIf="academicYearList | async as postdata ">
                    <mat-option *ngFor="let data of postdata | filterData: filterAcademicYear.value : 'academicYear'" [value]="data.academicYearCode">
                    {{data.academicYear}}
                    </mat-option>
                </div>
            </mat-select>
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.academicYearCode,"Academic Year")}} </div>
            </div>
            <!-- end::academic year -->

            <!-- begin::Standard -->
            <div class="form-group">
                <label class="form-label">Standard</label>
                <!-- <input class="form-control form-control-sm" formControlName="standard" autocomplete="off"> -->
                <mat-select class="form-control form-control-sm" formControlName="standard" placeholder="Select Standard">
                <input type="text"
                class="form-control  form-control-sm"
                #filterClassName>
                <div *ngIf="allClassList | async as postdata ">
                    <mat-option *ngFor="let data of postdata | filterData: filterClassName.value : 'className'" [value]="data.classCode">
                    {{data.className}}
                    </mat-option>
                </div>
            </mat-select>
                <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.standard,"Standard")}}</div>
            </div>
            <!-- end::Standard -->

            <!-- begin:: registration number -->
            <div class="form-group">
              <label class="form-label">Registration Number </label>
              <input class="form-control form-control-sm" formControlName="registrationNo"  placeholder="Enter Registartion Number" autocomplete="off">
              <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.registrationNo,"Registration Number")}}</div>
            </div>
            <!-- end:: Registration number -->

            <!-- begin:: Mobile Number -->
            <div class="form-group">
              <label class="form-label">Mobile Number </label>
              <input class="form-control form-control-sm" formControlName="fatherContactNo" placeholder="Enter Mobile Number" autocomplete="off">
              <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.fatherContactNo,"Mobile Number")}}</div>
            </div>
            <!-- end:: Mobile Number -->

            <!-- begin:: Student Name -->
            <div class="form-group">
              <label class="form-label">Student Name </label>
              <input class="form-control form-control-sm" formControlName="studentName" placeholder="Enter Student Name" autocomplete="off">
              <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.studentName,"Student Name")}}</div>
            </div>
            <!-- end:: Student Name -->

             <!-- begin::Buttons -->
             <div class="grid-button-inline form-group pt-4">
                
                    <button class="btn btn-success btn-sm mx-2" (click)="getTableRecord()" [disabled]="!studentgroup.valid || !editable">Search</button>
                
                <app-student-card [studentData]="posts"></app-student-card>
                <button  class="btn btn-danger btn-sm mx-2" (click)="resetForm()">Reset</button>
            </div>
            <!-- end::Buttons -->
    </form>
</div>
<!-- end:: first div -->

<!--begin::second Card body-->
<div class="grid-card-container card-bottom-padding pt-2" *ngIf="posts.length>0">
    <table id='table' datatable [dtOptions]="dtOptions" class="custom-data-table">    
     <thead>
       <tr>
         <th>S.No</th> 
         <th>Photo</th>
         <th>Registration Number</th>
         <th>Aadhar Number</th>
         <th>Student Name</th>
         <th>Standard</th>
         <th>Academic Year</th>
         <th>Gender</th>
         <th>DOB</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let post of posts;let i=index">
         <td class="td-sno">{{i+1}}</td>
         <td class="td-sno" *ngIf="post.profileImage == null"></td>
         <td class="td-sno" *ngIf="post.profileImage != null"><img class="avatar" src="{{post.profileImage.link}}" width="50" height="50"/></td>
         <td class="td-large">{{ post.registrationNo }}</td>
         <td class="td-medium">{{ post.aadhaarNumber }}</td>
         <td class="td-large">{{ post.studentName}}</td>
         <td class="td-small">{{ post.standard}}</td>
         <td class="td-medium">{{ post.academicYearCode}}</td>
         <td class="td-small">{{ post.gender}}</td>
         <td class="td-small">{{ post.dateOfBirth}}</td>
         <td class="td-action">  
           <a (click)="viewDetails(post)"><i class="fa fa-eye fa-lg"></i></a>
           &nbsp;&nbsp;
           <a (click)="setVlaueToUpdate(post)"><i class="fa fa-pencil-square-o fa-lg"></i></a>
           &nbsp;&nbsp;
           <a (click)="payFees(post)"><i class="fa fa-money fa-lg"></i></a>
         </td>
       </tr>
     </tbody>
   </table>
   <!--end::table-->
      
   </div>
   <!--end::second Card body-->