
            <div class="body body-trimmed" [ngClass]="getBodyClass()">
                <div class="bread-sticky">
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="content full-height-content p-3">
                    <!-- <div> -->
                        <router-outlet></router-outlet>
                    <!-- </div> -->
                </div>
                <div class="footer bg-white">
                    <app-footer></app-footer>
                </div>
            </div>
  