.registration-no {
  background-color: rgb(216, 216, 168);
}

.custom-file-input {
  height: 38px;
}

.custom-add-btn {
  height: 35px;
}

.action-buttons {
  text-align: center;
}

.fa {
  cursor: pointer;
  font-size: 1rem;
}

.custom-select-option {
  border: 1px solid rgb(206, 204, 204);
}

/* student photo */
.student-photo {
  width: 200px;
  height: 250px;
  object-fit: cover;
  /* This will ensure that the image maintains its aspect ratio */
}

.image-container {
  width: 200px;
  height: 250px;
  overflow: hidden;
  /* This will prevent the image from flowing outside the div */
}

.table-container {
  width: 100%;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-header {
  background: #f1f1f1;
}

.custom-body {
  display: block;
  /* Make tbody a block element */
  height: 300px;
  /* Set height */
  overflow-y: auto;
  /* Make it scrollable */
}

th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

td {
  border: 1px solid #ddd;
  padding: 4px;
}

.action-buttons {
  text-align: center;
}

.action-header {
  width: 80px;
}

.document-row {
  line-height: 25px;
}

/* preview form */
.preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.preview-content {
  background-color: #ffffff;
  /* background-color: rgb(243, 243, 243); */
  width: 100%;
  max-height: 53vh;
  /* max-width: 800px; */
  padding: 20px;
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  overflow-y: auto;
}

.preview-details {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.detail-heading {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  width: 100%;
  font-weight: bold;
  padding: 0.2rem;
}

.preview-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-actions button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* preview-section */
.preview-section {
  margin-bottom: 10px;
}

.preview-section h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-section .row {
  margin-bottom: 10px;
}

.img-thumbnail {
  height: 200px;
  width: 150px;
  object-fit: cover;
}

.img-thumbnail-preview {
  height: 180px;
  width: 130px;
  object-fit: cover;
}

.image-container {
  margin: 1rem 0;
}

.info-box {
  background-color: #f9f9f9;
}

.preview-actions {
  margin-top: 2rem;
}

.mat-calender {
  all: initial;
  all: unset;
}