
  
  
  .custom-file-input {
    height: 38px;
  }
  
  .custom-add-btn {
    height: 35px;
  }
  
  .action-buttons {
    text-align: center;
  }

  .fa {
    cursor: pointer;
    font-size: 1rem;
  }

  .custom-select-option{
    border: 1px solid rgb(206, 204, 204);
  }

  .custom-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* .custom-table th,
  .custom-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
  } */
  
  /* .custom-table thead {
    background-color: #007bff;
    color: #ffffff;
  } */
  
  .action-buttons {
    text-align: center;
  }
  
  .table-responsive {
    margin-bottom: 20px;
  }
  
  .custom-header {
    height: 35px; 
    background-color: #f0f0f0; 
    font-weight: bold; 
    /* text-align: center; */
    border-bottom: 2px solid #ccc;
  }

  .action-header {
    width: 80px;
  }

  .document-row {
    line-height: 25px;
  }

  /* preview form */
  .preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .preview-content {
    background-color: #ffffff;
    /* background-color: rgb(243, 243, 243); */
    width: 100%;
    max-height: 53vh;
    /* max-width: 800px; */
    padding: 20px;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    overflow-y: auto;
  }

  .preview-details {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .detail-heading {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 2px ;
    width: 100%;
    padding: 0.2rem;
  }
  .preview-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .preview-actions div {
    display: flex;
    justify-content: start;
  }
  
  .preview-actions button {
    margin-left: 10px; /* Space between buttons */
  }

  .preview-actions button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }

  /* preview-section */
  .preview-section {
    margin-bottom: 10px;
  }
  
  .preview-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .preview-section .row {
    margin-bottom: 10px;
  }
  
  .preview-section strong {
    /* font-weight: bold; */
  }
  
  
  
  
  
  