<mat-stepper linear #stepper [@.disabled]="true">

  <mat-step [stepControl]="studentgroup">
    <div class="grid-card-container card-bottom-margin form-bg">
      <form [formGroup]="studentgroup" class="grid-form">
        <ng-template matStepLabel>Student Details</ng-template>

        <!-- begin::Student Name -->
        <div class="form-group">
          <label class="form-label required">Student Name</label>
          <input class="form-control form-control-sm" formControlName="studentName" autocomplete="off" (input)="handleInputChange(studentFormControll.studentName)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.studentName,"Student
            Name")}}</div>
        </div>
        <!-- end::Student Name -->

        <!-- begin:: gender -->
        <div class="form-group">
          <label class="form-label required">Gender</label>
          <div class="mt-2">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
              <mat-radio-button value="M">Male</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
              <mat-radio-button value="O">Others</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.gender,"Gender")}}</div>
        </div>
        <!-- end:: gender -->

        <!-- begin DOB -->
        <div class="form-group">
          <label class="form-label required">Date of Birth</label>
          <div class="datepicker-container">
            <input matInput [matDatepicker]="picker" [max]="today" formControlName="dateOfBirth" class="form-control form-control-sm"
              readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"
              class="toggle-datepicker-icon-position" [disabled]="updateFlag"></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="updateFlag"></mat-datepicker>
          </div>
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.dateOfBirth, "Date Of
            Birth")}}</div>
        </div>
        <!-- end:: DOB -->

        <!-- begin::academic year -->
        <div class="form-group">
          <label class="form-label required">Academic Year</label>
          <!-- <input class="form-control form-control-sm" formControlName="academicYear" autocomplete="off"> -->
          <mat-select formControlName="academicYearCode"  class="form-control form-control-sm">
            <div class="p-1">
              <input type="text" class="form-control form-control-sm" #filterAcademicYear>
            </div>
            <div *ngIf="academicYearList | async as postdata ">
              <mat-option *ngFor="let data of postdata | filterData: filterAcademicYear.value : 'academicYear'"
                [value]="data.academicYearCode">
                {{data.academicYear}}
              </mat-option>
            </div>
          </mat-select>
          <div class="invalid-feedback">
            {{validationMsg.getErrorMessage(studentFormControll.academicYearCode,"Academic Year")}}
          </div>
        </div>
        <!-- end::academic year -->

        <!-- begin::Standard -->
        <div class="form-group">
          <label class="form-label required">Standard</label>
          <!-- <input class="form-control form-control-sm" formControlName="standard" autocomplete="off"> -->
          <mat-select class="form-control form-control-sm"  [disabled]="updateFlag" formControlName="standard">
            <div class="p-1">
              <input type="text" class="form-control form-control-sm" #filterClassName>
            </div>
            <div *ngIf="allClassList | async as postdata ">
              <mat-option *ngFor="let data of postdata | filterData: filterClassName.value : 'className'"
                [value]="data.classCode">
                {{data.className}}
              </mat-option>
            </div>
          </mat-select>
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.standard,"Standard")}}</div>
        </div>

        <!-- end::Standard -->

        <!-- begin::section -->
        <div class="form-group">
          <label class="form-label required">Section</label>
          <input class="form-control form-control-sm" formControlName="section" autocomplete="off" (input)="handleInputChange(studentFormControll.section)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.section,"Section")}}</div>
        </div>
        <!-- end::Section -->

        <!-- begin::academic year -->
        <!-- <div class="form-group">
          <label class="form-label required">Academic Year</label>
          <mat-select formControlName="academicYearCode" class="form-control form-control-sm" [disabled]="updateFlag">
            <div class="p-1">
              <input type="text" class="form-control form-control-sm" #filterAcademicYear>
            </div>
            <div *ngIf="academicYearList | async as postdata ">
              <mat-option *ngFor="let data of postdata | filterData: filterAcademicYear.value : 'academicYear'"
                [value]="data.academicYearCode">
                {{data.academicYear}}
              </mat-option>
            </div>
          </mat-select>
          <div class="invalid-feedback">
            {{validationMsg.getErrorMessage(studentFormControll.academicYearCode,"Academic Year")}}
          </div>
        </div> -->
        <!-- end::academic year -->

        <!-- begin::Aadhaar number  -->
        <div class="form-group">
          <label class="form-label">Aadhaar Number </label>
          <input class="form-control form-control-sm" formControlName="aadhaarNumber" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.aadhaarNumber,"Aadhaar
            Number ")}}</div>
        </div>
        <!-- end::Aadhaar number  -->

        <!-- begin::Religion -->
        <div class="form-group">
          <label class="form-label required">Religion</label>
          <mat-select class="custom-select-option form-control form-control-sm" formControlName="religion"
            autocomplete="off">
            <mat-option value="" disabled>Select one</mat-option>
            <mat-option value="Hinduism">Hinduism</mat-option>
            <mat-option value="Islam">Islam</mat-option>
            <mat-option value="Christianity">Christianity</mat-option>
            <mat-option value="Buddhism">Buddhism</mat-option>
          </mat-select>
          <div class="invalid-feedback">
            {{validationMsg.getErrorMessage(studentFormControll.religion,"Religion")}}
          </div>
        </div>

        <!-- end::Religion -->

        <!-- begin::Category -->
        <div class="form-group">
          <label class="form-label required">Category</label>
          <!-- <input class="form-control form-control-sm" formControlName="category" autocomplete="off"> -->
          <mat-select class="custom-select-option form-control form-control-sm" formControlName="category"
            autocomplete="off">
            <mat-option value="" disabled>Select Category</mat-option>
            <mat-option value="GENERAL">GENERAL</mat-option>
            <mat-option value="OBC">OBC</mat-option>
            <mat-option value="SC">SC</mat-option>
            <mat-option value="ST">ST</mat-option>
          </mat-select>
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(studentFormControll.category,"Category")}}</div>
        </div>
        <!-- end::Category -->

        <!-- begin:: Enrollment type -->
         <div class="form-group">
           <label class="form-label required">Enrollment Type</label>
         <mat-select class="custom-select-option form-control form-control-sm"  (selectionChange)="isFeesStructureAvailable()" formControlName="enrollmentType"
           autocomplete="off">
           <mat-option value="New Student">New Student</mat-option>
           <mat-option value="Old Student">Old Student</mat-option>
         </mat-select>
         <div class="invalid-feedback">
           {{validationMsg.getErrorMessage(studentFormControll.enrollmentType,"Enrollment Type")}}
         </div>
         </div>
        <!-- End:: Enrollment type -->


        <!-- begin::Registration No -->
        <div class="form-group">
          <label class="form-label required">Registration No</label>
          <div class="d-flex">
            <div class="mr-3">
              <button class="btn btn-sm btn-primary btn-sm form-control form-control-sm" [disabled]="updateButtonFlag"
                (click)="generateRegistrationNumber()">Generate</button>
            </div>
            <div>
              <input class="form-control form-control-sm registration-no" formControlName="registrationNo"
                autocomplete="off" readonly>
              <div class="invalid-feedback">
                {{validationMsg.getErrorMessage(studentFormControll.registrationNo,"Registration No")}}</div>
            </div>
          </div>
        </div>
        <!-- end::Registration No -->
      </form>
    </div>
    <div class="mat-step-footer-button">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>


  <mat-step [stepControl]="parentgroup">
    <div class="grid-card-container card-bottom-margin form-bg">
      <form [formGroup]="parentgroup" class="grid-form">
        <ng-template matStepLabel>Parent</ng-template>

        <!-- begin::Father Name -->
        <div class="form-group">
          <label class="form-label required">Father Name</label>
          <input class="form-control form-control-sm" formControlName="fatherName" autocomplete="off" (input)="handleInputChange(parentFormControll.fatherName)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.fatherName,"Father Name")}}
          </div>
        </div>
        <!-- end::Father Name -->

        <!-- begin:: Mother Name -->
        <div class="form-group">
          <label class="form-label required">Mother Name</label>
          <input class="form-control form-control-sm" formControlName="motherName" autocomplete="off" (input)="handleInputChange(parentFormControll.motherName)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.motherName,"Mother Name")}}
          </div>
        </div>
        <!-- end:: Mother Name -->

        <!-- begin::Father Aadhar No -->
        <div class="form-group">
          <label class="form-label">Father Aadhar No</label>
          <input class="form-control form-control-sm" formControlName="fatherAadharNo" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.fatherAadharNo,"Father Aadhar
            No")}}</div>
        </div>
        <!-- end::Father Aadhar No -->

        <!-- begin::Father Contact No -->
        <div class="form-group">
          <label class="form-label">Father Contact No</label>
          <input class="form-control form-control-sm" formControlName="fatherContactNo" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.fatherContactNo,"Father
            Contact No")}}</div>
        </div>
        <!-- end::Father Contact No -->

        <!-- begin:: Father Qualification -->
        <div class="form-group">
          <label class="form-label"> Father Qualification</label>
          <input class="form-control form-control-sm" formControlName="fatherQualification" autocomplete="off" (input)="handleInputChange(parentFormControll.fatherQualification)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.fatherQualification,"Father
            Qualification")}}</div>
        </div>
        <!-- end:: Father Qualification -->

        <!-- begin:: Father Profession -->
        <div class="form-group">
          <label class="form-label">Father Profession</label>
          <input class="form-control form-control-sm" formControlName="fatherProfession" autocomplete="off" (input)="handleInputChange(parentFormControll.fatherProfession)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.fatherProfession,"Father
            Profession")}}</div>
        </div>
        <!-- end:: Father Profession -->

        <!-- begin::Father Email Id -->
        <div class="form-group">
          <label class="form-label">Father Email Id</label>
          <input class="form-control form-control-sm" formControlName="fatherEmailId" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.fatherEmailId,"Father Email
            Id")}}</div>
        </div>
        <!-- end::Father Email Id -->

        <!-- begin:: Mother Aadhar Number -->
        <div class="form-group">
          <label class="form-label">Mother Aadhar Number</label>
          <input class="form-control form-control-sm" formControlName="motherAadharNumber" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.motherAadharNumber,"Mother
            Aadhar Number")}}</div>
        </div>
        <!-- end:: Mother Name -->

        <!-- begin:: Mother Contact Number -->
        <div class="form-group">
          <label class="form-label">Mother Contact Number</label>
          <input class="form-control form-control-sm" formControlName="motherContactNumber" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.motherContactNumber,"Mother
            Contact Number")}}</div>
        </div>
        <!-- end:: Mother Name -->


        <!-- begin:: Mother Profession -->
        <div class="form-group">
          <label class="form-label">Mother Profession</label>
          <input class="form-control form-control-sm" formControlName="motherProfession" autocomplete="off" (input)="handleInputChange(parentFormControll.motherProfession)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.motherProfession,"Mother
            Profession")}}</div>
        </div>
        <!-- end:: Mother Profession-->

        <!-- begin:: Guardian Name -->
        <div class="form-group">
          <label class="form-label">Guardian Name</label>
          <input class="form-control form-control-sm " formControlName="guardianName" autocomplete="off" (input)="handleInputChange(parentFormControll.guardianName)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(parentFormControll.guardianName,"Guardian
            Name")}}</div>
        </div>
        <!-- end:: Guardian Name-->

      </form>
    </div>
    <div class="mat-step-footer-button">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="addressgroup">
    <div class="grid-card-container card-bottom-margin form-bg">
      <form [formGroup]="addressgroup" class="grid-form">
        <ng-template matStepLabel>Address</ng-template>
        <!-- begin:: Country -->
        <div class="form-group">
          <label class="form-label">Country</label>
          <input class="form-control form-control-sm" formControlName="country" autocomplete="off" (input)="handleInputChange(addressFormControll.country)" >
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(addressFormControll.country,"Country")}}</div>
        </div>
        <!-- end:: Country-->

        <!-- begin:: State -->
        <div class="form-group">
          <label class="form-label">State</label>
          <input class="form-control form-control-sm" formControlName="state" autocomplete="off" (input)="handleInputChange(addressFormControll.state)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(addressFormControll.state,"State")}}</div>
        </div>
        <!-- end:: Country-->

        <!-- begin:: City -->
        <div class="form-group">
          <label class="form-label">City</label>
          <input class="form-control form-control-sm" formControlName="city" autocomplete="off" (input)="handleInputChange(addressFormControll.city)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(addressFormControll.city,"City")}}</div>
        </div>
        <!-- end:: Country-->

        <!-- begin:: Pincode -->
        <div class="form-group">
          <label class="form-label">Pincode</label>
          <input class="form-control form-control-sm" formControlName="pincode" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(addressFormControll.pincode,"CitPincodey")}}
          </div>
        </div>
        <!-- end:: Pincode-->


        <!-- begin:: Area -->
        <div class="form-group">
          <label class="form-label">Area</label>
          <input class="form-control form-control-sm" formControlName="area" autocomplete="off" (input)="handleInputChange(addressFormControll.area)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(addressFormControll.area,"Area")}}</div>
        </div>
        <!-- end:: Area-->
      </form>
    </div>
    <div class="mat-step-footer-button">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="emergencyContactFormGroup">
    <div class="grid-card-container card-bottom-margin form-bg">
      <form [formGroup]="emergencyContactFormGroup" class="grid-form">
        <ng-template matStepLabel>Emergency Contact</ng-template>
        <!-- begin:: Emergency Contact Person -->
        <div class="form-group">
          <label class="form-label">Emergency Contact Person</label>
          <input class="form-control form-control-sm" formControlName="emergencyContactPerson" autocomplete="off" (input)="handleInputChange(emergencyContactFormControll.emergencyContactPerson)">
          <div class="invalid-feedback">
            {{validationMsg.getErrorMessage(emergencyContactFormControll.emergencyContactPerson,"Emergency Contact
            Person")}}</div>
        </div>
        <!-- end:: Emergency Contact Person-->

        <!-- begin:: Emergency number -->
        <div class="form-group">
          <label class="form-label">Emergency Number</label>
          <input class="form-control form-control-sm" formControlName="emergencyNumber" autocomplete="off">
          <div class="invalid-feedback">
            {{validationMsg.getErrorMessage(emergencyContactFormControll.emergencyNumber,"Emergency Number")}}</div>
        </div>
        <!-- end:: Emergency number-->

        <div class="form-group"></div>
      </form>
    </div>
    <div class="mat-step-footer-button">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>



  <mat-step [stepControl]="lastSchoolFormGroup">
    <div class="grid-card-container card-bottom-margin form-bg">
      <form [formGroup]="lastSchoolFormGroup" class="grid-form">
        <ng-template matStepLabel>Previous School</ng-template>
        <!-- begin:: School Name -->
        <div class="form-group">
          <label class="form-label">School Name</label>
          <input class="form-control form-control-sm " formControlName="schoolName" autocomplete="off" (input)="handleInputChange(lastSchoolFormControll.schoolName)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(lastSchoolFormControll.schoolName,"School
            Name")}}</div>
        </div>
        <!-- end:: School Name-->

        <!-- begin:: TC Number -->
        <div class="form-group">
          <label class="form-label">TC Number</label>
          <input class="form-control form-control-sm" formControlName="tcNumber" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(lastSchoolFormControll.tcNumber,"TC Number")}}
          </div>
        </div>
        <!-- end:: TC Number-->

        <!-- begin:: last Class Pass -->
        <div class="form-group">
          <label class="form-label">Passed Class </label>
          <input class="form-control form-control-sm" formControlName="passedClass" autocomplete="off" (input)="handleInputChange(lastSchoolFormControll.passedClass)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(lastSchoolFormControll.passedClass,"last Class
            Pass")}}</div>
        </div>
        <!-- end:: last Class Pass -->

        <!-- begin:: last Class Marks -->
        <div class="form-group">
          <label class="form-label">Passed Class Marks </label>
          <input class="form-control form-control-sm" formControlName="passedClassMarks" autocomplete="off">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(lastSchoolFormControll.passedClassMarks,"last
            Class Marks")}}</div>
        </div>
        <!-- end:: last Class Marks -->

        <!-- begin:: School Address -->
        <div class="form-group">
          <label class="form-label">School Address</label>
          <input class="form-control form-control-sm" formControlName="schoolAddress" autocomplete="off" (input)="handleInputChange(lastSchoolFormControll.schoolAddress)">
          <div class="invalid-feedback">{{validationMsg.getErrorMessage(lastSchoolFormControll.schoolAddress,"School
            Address")}}</div>
        </div>
        <!-- end:: School Address -->


      </form>
    </div>
    <div class="mat-step-footer-button">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="uploadDocumentForm">
    <ng-template matStepLabel>Upload Document</ng-template>
    <form [formGroup]="uploadDocumentForm" class="grid-form">

      <div class="row">
        <!-- Student Photo Column -->
        <div class="col-md-6 shadow-sm">
          <div class="form-group m-2">
            <!-- begin::upload student photo -->
            <label class="mb-2" for="studentPhoto">Upload Student Photo :</label>
            <!--If Image is not selected-->
            <div class="custom-file" *ngIf="!selectedPhoto">
              <input id="file" type="file" multiple formControlName="studentPhoto" class="custom-file-input"
                accept="image/*" (change)="onStudentPhotoFileChange($event)">
              <label class="custom-file-label" for="studentPhoto">{{selectedStudentPhotoName}}</label>
            </div>

            <!--If Image is selected-->
            <div *ngIf="selectedPhoto">
              <!--<img [src]="selectedStudentPhoto" alt="Profile Image" width="100">-->
              <!-- begin::student photo preview -->
              <div class="mt-2 image-container" *ngIf="selectedStudentPhoto">
                <img [src]="selectedStudentPhoto" alt="Student Photo" class="img-thumbnail">
                <button class="btn btn-sm btn-danger custom-add-btn btn-sm mt-2" (click)="removeSelectedPhoto()">Remove</button>
              </div>
              <!-- end::student photo preview -->
            </div>
            <!-- end::upload student photo -->

          </div>
        </div>

        <!-- Upload Documents Column -->
        <div class="col-md-6 shadow-sm">
          <div class="form-group m-2">
            <!-- begin::upload documents -->
            <label class="mb-2" for="file">Upload Documents :</label>
            <div class="d-flex">
              <div class="custom-file">
                <input id="file" type="file" multiple formControlName="file" class="custom-file-input"
                  accept=".doc,.docx,.pdf,image/*" (change)="onFileChange($event)">
                <label class="custom-file-label" for="file">{{selectedFileName}}</label>
              </div>
              <div class="ml-2">
                <button class="btn btn-sm btn-success custom-add-btn" type="button" (click)="addDocument()">Add</button>
              </div>
            </div>
            <!-- end::upload documents -->
            <div class="invalid-feedback">{{validationMsg.getErrorMessage(uploadDocumentFormControll.file,"File Name")}}
            </div>
          </div>
          <!-- begin::documents table -->
          <div *ngIf="documents.length > 0" class="table-container mt-4 mb-3">
            <table class="table table-striped custom-table">
              <thead class="custom-header">
                <tr>
                  <th scope="col">File Name</th>
                  <th scope="col" class="action-header">Actions</th>
                </tr>
              </thead>
              <tbody class="custom-body">
                <tr *ngFor="let doc of documents; let i = index" class="document-row">
                  <td>{{doc.name}}</td>
                  <td class="action-header">
                    <i class="fa fa-eye mr-3" (click)="previewDocument(doc)" aria-hidden="true"></i>
                    <i class="fa fa-trash" (click)="deleteDocument(i)" aria-hidden="true"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end::documents table -->
        </div>
      </div>

    </form>
    <div class="mat-step-footer-button">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>

  </mat-step>

  <mat-step>
    <form class="grid-form">
      <ng-template matStepLabel>Done</ng-template>
      <!-- Preview Modal (PDF-like preview) -->
      <!-- Main Container -->
      <div class="container">
        <div class="card shadow-sm" id="myPreviewDetails">
          <div class="card-header mt-0 bg-primary text-white preview-actions">
            <span>Student Data Preview</span>
            <button class="btn btn-sm btn-info" printSectionId="myPreviewDetails" printTitle="Mstudent data" ngxPrint
              [useExistingCss]="true">
              Print
            </button>
          </div>
          <div class="card-body">
            <!-- Student Photo and Basic Details -->
            <div class="row">
              <div class="col-md-9">
                <h5>Student Details</h5>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Name:</strong> {{ studentFormControll.studentName.value }}</p>
                    <p><strong>Academic Year:</strong> {{ studentFormControll.academicYearCode.value }}</p>
                    <p><strong>Registration No:</strong> {{ studentFormControll.registrationNo.value }}</p>
                  </div>
                  <div class="col-md-4">
                    <p><strong>Gender:</strong> {{ studentFormControll.gender.value }}</p>
                    <p><strong>Standard:</strong> {{ studentFormControll.standard.value }}</p>
                    <p><strong>Category:</strong> {{ studentFormControll.category.value }}</p>
                  </div>
                  <div class="col-md-4">
                    <p><strong>Adhar Number:</strong> {{ studentFormControll.aadhaarNumber.value }}</p>
                    <p><strong>DOB:</strong> {{ studentFormControll.dateOfBirth.value }}</p>
                    <p><strong>Religion:</strong> {{ studentFormControll.religion.value }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <img [src]="selectedStudentPhoto" alt="Student Photo" class="img-thumbnail-preview">
              </div>
            </div>
            <hr>

            <!-- Additional Sections (Student Details, Parent Details, etc.) -->
            <div *ngFor="let section of getSections()">
              <h5>{{ section.title }}</h5>
              <div class="row">
                <div class="col-md-4" *ngFor="let field of section.fields">
                  <p><strong>{{ field.label }}:</strong> {{ field.value }}</p>
                </div>
              </div>
              <hr>
            </div>

            <!-- Uploaded Documents -->
            <h5>Uploaded Documents</h5>
            <div *ngIf="documents.length > 0">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>File Name</th>
                    <th>File Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doc of documents">
                    <td>{{ doc.name }}</td>
                    <td>{{ doc.type }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="documents.length === 0">
              <p>No documents uploaded.</p>
            </div>
          </div>

          <!-- Footer Actions -->
          <div class="card-footer preview-actions">
            <button class="btn btn-sm btn-secondary" matStepperPrevious>Back</button>
            <mat-slide-toggle (change)="toggleConfirm($event)">I confirm the details</mat-slide-toggle>
            <ng-container *ngIf="!updateFlag">
              <button class="btn btn-sm btn-primary" [disabled]="!confirmDetails" (click)="finalSubmit()">Final Submit</button>
            </ng-container>
            <ng-container *ngIf="updateFlag">
              <button class="btn btn-sm btn-primary" [disabled]="!confirmDetails" (click)="updateStudentDetails()">Update</button>
            </ng-container>
            </div>
        </div>
      </div>
    </form>
  </mat-step>
</mat-stepper>