
<form [formGroup]="formgroup" class="grid-form">
<div class="container">
    <!--<fusioncharts
      [type]="type"
      [width]="width"
      [height]="height"
      [dataSource]="data">
    </fusioncharts>-->
    <div class="chart-header">
      <span><b>Student Admissions Statistics</b></span>
      <select (change)="updateChartData()" formControlName="academicYearCode" class="form-control form-control-sm custom-select w-25">
        <option *ngFor="let year of academicYearList | async" [value]="year.academicYearCode">
          {{ year.academicYear }}
        </option>
      </select>
    </div>

    <div><b>Total student (In all classes) - {{totalStudents}} Students</b></div>
    
    <highcharts-chart [options]="chartOptions"
    [Highcharts]="Highcharts"
    
    ></highcharts-chart>
    </div>
    </form>
  