.chart-header {
    padding: 0.1rem;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
  }

  /* Style the select element */
.custom-select {
    font-size: 12px;  /* Make the text smaller */
    line-height: 1.5;  /* Increase the default line height */
    padding-left: 20px;
  }

  .chart-autoScroll{
    overflow: scroll;
    width: 500px;
    /* height: 40vh; */
    padding: 0px;
    margin: 0px;
  }

  