<div class="grid-card-container card-bottom-margin">
  <form [formGroup]="formGroup" class="grid-form">

    <!-- begin::Permission Group -->
    <div class="form-group">
      <label class="form-label required">Group</label>
      <mat-select class="form-control form-control-sm myPanelClass" disableOptionCentering
        placeholder="Select Enrollment Type">
        <input type="text" class="form-control  form-control-sm" formControlName="groupid" #filterPermissionGroup>
        <div *ngIf="allPermissionGroupList | async as postdata ">
          <mat-option *ngFor="let data of postdata | filterData: filterPermissionGroup.value : 'usergroup'"
            [value]="data.groupid">
            {{data.usergroup}}
          </mat-option>
        </div>
      </mat-select>
      <div class="invalid-feedback">
        {{validationMsg.getErrorMessage(formControll.groupid,"Group")}}
      </div>
    </div>
    <!-- end::Permission Group -->

    <!-- begin::Buttons -->
    <div class="grid-button-inline form-group pt-4">
      <ng-container>
        <button class="btn btn-success mx-3" [disabled]="!formGroup.valid" (click)="save()">Save</button>
      </ng-container>
      <button class="btn btn-danger" (click)="resetLists()">Reset</button>
    </div>
    <!-- end::Buttons -->
  </form>
</div>

<!--begin::second Card body-->
<div class="grid-card-container card-bottom-padding pt-2">
  <form [formGroup]="formGroup">
    <div class="permission-container d-flex align-items-center w-100">
      <label>Manage Permissions : </label>
      <div class="m-2">
        <button class="btn btn-outline-secondary btn-sm" (click)="selectAllNodes()"><i class="fa fa-unlock"></i>
          Give all
          Permissions</button>
      </div>
      <div class="m-2">
        <button class="btn btn-outline-secondary btn-sm" (click)="deselectAllNodes()"><i class="fa fa-lock"></i> Deny
          all
          Permissions</button>
      </div>
    </div>

    <span class="text-info mb-3"><i class="fa fa-info-circle"></i> Note : To give selected permission, <b>Tick</b>
      on checkBox in corresponding <b>Permissions</b> and uncheck to remove the permission.</span>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node" [checked]="checkboxSelections.isSelected(node)"
          (change)="menuLeafItemSelectionToggle(node)">{{node.text}}</mat-checkbox>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
          (change)="menuItemSelectionToggle(node)">{{node.text}}</mat-checkbox>
        <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>-->

      </mat-tree-node>

    </mat-tree>
    <button class="submit-button" mat-raised-button (click)="finalizeSelection()">get selected items</button>

    <p #outputDiv></p>
  </form>

</div>
<!--end::second Card body-->